<!-- TestPage-->

@model WebDbWithRevInfo;
@using WebDatabasesMVC.ViewModels;
@using Microsoft.AspNetCore.Html;
@using System.IO;
@using System.Security.Claims;
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.WebDbName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Kendo/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Kendo/kendo.all.min.js"></script>
    <script>
        function postwith(to, p) {
            //https://mentaljetsam.wordpress.com/2008/06/02/using-javascript-to-post-data-between-pages/
            var myForm = document.createElement("form");
            myForm.style.display = "none";
            myForm.method = "post";
            myForm.action = to;
            for (var k in p) {
                var myInput = document.createElement("input");
                myInput.setAttribute("name", k);
                myInput.setAttribute("value", p[k]);
                myForm.appendChild(myInput);
            }
            document.body.appendChild(myForm);
            myForm.submit();
            document.body.removeChild(myForm);
        };
        function GoToItems(AttId, AttName = '') {
            if (AttId == -999999) {
                var included = $('#includedCrit').val();
                var attributeIdXAxis = $('#attributeIdXAxisCrit').val();
                var setIdXAxis = $('#setIdXAxisCrit').val();
                var onlyThisAttribute = $('#onlyThisAttributeCrit').val();
                var webDbId = $('#webDbIdCrit').val();
                postwith("../ItemList/GetFreqListNoneOfTheAbove",
                    {
                        attributeIdXAxis: attributeIdXAxis, setId: setIdXAxis, included: included
                        , onlyThisAttribute: onlyThisAttribute, webDbId: webDbId, attName: AttName.replaceAll('&#39;', '\'')
                    });
            } else {
                postwith("../ItemList/GetFreqList", { attId: AttId, attName: AttName.replaceAll('&#39;', '\'') });
            }
        };

    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>EPPI-Centre WebDatabase Application</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="../assets/img/EPPI-Centre.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="../assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/atlantis.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="../assets/css/demo.css">
</head>
<body>

    @{
        Claim WebDbIDclaim = User.FindFirst("WebDbID");
        string imgPath1 = "";
        string imgPath2 = "";
        if (WebDbIDclaim != null)
        {
            var service = Context.RequestServices.GetService(typeof(Microsoft.AspNetCore.Hosting.IWebHostEnvironment)) as Microsoft.AspNetCore.Hosting.IWebHostEnvironment;
            string absolutePath = service.WebRootPath + "\\HeaderImages\\";
            if (System.IO.File.Exists(absolutePath + "Img-" + WebDbIDclaim.Value + "-1.jpg")) imgPath1 = Url.Content("~/HeaderImages/Img-" + WebDbIDclaim.Value + "-1.jpg");
            else if (System.IO.File.Exists(absolutePath + "Img-" + WebDbIDclaim.Value + "-1.png")) imgPath1 = Url.Content("~/HeaderImages/Img-" + WebDbIDclaim.Value + "-1.png");
            if (System.IO.File.Exists(absolutePath + "Img-" + WebDbIDclaim.Value + "-2.jpg")) imgPath2 = Url.Content("~/HeaderImages/Img-" + WebDbIDclaim.Value + "-2.jpg");
            else if (System.IO.File.Exists(absolutePath + "Img-" + WebDbIDclaim.Value + "-2.png")) imgPath2 = Url.Content("~/HeaderImages/Img-" + WebDbIDclaim.Value + "-2.png");
        }
    }



    <script>
        var treeviewData = null;
        var dataItem = null;
        var dataItemXaxis = null;
        var freqData = null;
        function Buildnode(attr) {
            var nodes = [];

            var res = new kendo.data.Node({
                text: attr.setName ? attr.setName : attr.attributeName
            });
            for (var ii = 0; ii < attr.attributes.attributesList.length; ii++) {
                res.append(Buildnode(attr.attributes.attributesList[ii]));
            }
            res.id = attr.attributeId ? attr.attributeId : attr.setId;
            res.isCodeset = false;
            res.setId = attr.setId;
            //res.items = nodes;
            //res.hasChildren = () => {
            //    return this.items.length > 0;
            //};
            return res;
        }
        $(document).ready(function () {
            $("#treeView").kendoTreeView({
                dataSource: {
                    transport: {
                        read: {
                            url: "../ReviewSetList/FetchJSON",
                            dataType: "json"
                        }
                    },
                    schema: {
                        parse: function (response) {
                            dataItem = null;
                            var nodes = [];
                            for (var i = 0; i < response.length; i++) {
                                var nodes2 = [];
                                var nd = new kendo.data.Node({ text: response[i].setName });
                                nd.id = response[i].setId;
                                nd.isCodeset = true;
                                nd.setId = nd.id;
                                for (var ii = 0; ii < response[i].attributes.attributesList.length; ii++) {
                                    nd.append(Buildnode(response[i].attributes.attributesList[ii]));
                                }
                                nd.items = nodes2;
                                //nd.hasChildren = () => {
                                //        return this.items.length > 0;
                                //    };
                                nodes.push(nd);
                            }
                            GetYearsFreqs();//getting the years chart after the codes...
                            return nodes;
                        }
                    }
                },
                select: TreeViewSelection
            });
            treeviewData = $("#treeView").data("kendoTreeView");
            //$("#treeView").data("kendoTreeView").bind("change", TreeViewSelection);
        });
        function tree_dataBound(e) {
            console.log("DataBound", e.node);
        }
        function GoToFreq() {
            console.log("CurrentNodeGoToFreq");
            if (!dataItem) {
                console.log("CurrentNodeGoToFreq no data");
                return;
            }
            console.log("Planning to go to get frequency with (codeID, setId):", dataItem.id, dataItem.setId)
            if (dataItem.isCodeset == true) {
                postwith("../Frequencies/GetFrequencies", { attId: 0, setId: dataItem.setId, included: true });
            }
            else postwith("../Frequencies/GetFrequencies", { attId: dataItem.id, setId: dataItem.setId, included: true });
        }
        function GetFreqs() {
            console.log("CurrentNodeGoToFreq");
            if (!dataItem) {
                console.log("GetFreqs no data");
                return;
            }
            console.log("Planning to go to GetFreqs with (codeID, setId):", dataItem.id, dataItem.setId)
            if (dataItem.isCodeset == true) {
                $.post("../Frequencies/GetFrequenciesJSON", { attId: 0, setId: dataItem.setId, included: true }, function (data, result) { BuildFreqs(data, result); })
                //postwith("../Frequencies/GetFrequencies", { attId: 0, setId: dataItem.setId, included: true });
            }
            else {
                $.post("../Frequencies/GetFrequenciesJSON", { attId: dataItem.id, setId: dataItem.setId, included: true }, function (data, result) { BuildFreqs(data, result); })
                //postwith("../Frequencies/GetFrequencies", { attId: dataItem.id, setId: dataItem.setId, included: true });
            }
        }
        function BuildFreqs(data, result) {
            console.log(data, result);//FrequenciesTemplate
            //columns: [{
            //    field: "attributeId",
            //    title: "ID"
            //},
            //{
            //    field: "attribute",
            //    title: "Code Name"
            //},
            //{
            //    field: "itemCount",
            //    title: "Count"
            //}],
            if (result == "success") {
                $("#FrequenciesGrid").kendoGrid({
                    rowTemplate: kendo.template($("#FrequenciesTemplate").html()),
                    columns: [
                    //    {
                    //    field: "attributeId",
                    //    title: "ID",
                    //    headerAttributes: {
                    //        "class": "small py-0 px-1"
                    //    }
                    //},
                    {
                        field: "attribute",
                        title: "Code Name",
                        headerAttributes: {
                            "class": "small py-0 px-1  w-75"
                        }
                    },
                    {
                        field: "itemCount",
                        title: "Count",
                        headerAttributes: {
                            "class": "small py-0 px-1  w-25"
                        }
                    }],
                    dataSource: data.results
                });
            } else {
                $("#FrequenciesGrid").html("");
            }
        }
        function GetFreqLinkContent(attId, count) {
            if (count == 0) return "0";
            else return '<a href="javascript:GoToItems(' + attId+ ')" style="color: #007bff!important;">' + count.toString() + '</a>';
        }
        function GoToCrosstab(isSelfXtab) {
            console.log("CurrentNodeGoToCrosstab");
            if (!dataItem || (isSelfXtab !== true && !dataItemXaxis)) {
                console.log("CurrentNodeGoToCrosstab no data");
                return;
            }
            if (isSelfXtab == true) {
                if (dataItem.isCodeset == true) {
                    postwith("../Frequencies/GetCrosstab", {
                        attIdx: 0
                        , setIdx: dataItem.setId
                        , attIdy: 0
                        , setIdy: dataItem.setId
                        , included: true
                    });
                }
                else postwith("../Frequencies/GetCrosstab", {
                    attIdx: dataItem.id
                    , setIdx: dataItem.setId
                    , attIdy: dataItem.id
                    , setIdy: dataItem.setId
                    , included: true
                });
            } else {
                var pars = {
                    attIdx: 0
                    , setIdx: 0
                    , attIdy: 0
                    , setIdy: 0
                    , included: true
                }
                if (dataItem.isCodeset == true) {
                    pars.attIdy = 0;
                    pars.setIdy = dataItem.setId;
                }
                else {
                    pars.attIdy = dataItem.id;
                    pars.setIdy = dataItem.setId;
                }
                if (dataItemXaxis.isCodeset == true) {
                    pars.attIdx = 0;
                    pars.setIdx = dataItemXaxis.setId;
                }
                else {
                    pars.attIdx = dataItemXaxis.id;
                    pars.setIdx = dataItemXaxis.setId;
                }
                postwith("../Frequencies/GetCrosstab", pars);
            }
        }

        function TreeViewSelection(e) {
            if (treeviewData == null) retrun;
            dataItem = treeviewData.dataItem(e.node);
            if (!dataItem) {
                $("#CurrentNodeGoToFreq").prop("disabled", true); CurrentNodeGoToSelfCrosstab
                $("#CurrentNodeGoToSelfCrosstab").prop("disabled", true);
                $("#CurrentNodeGoToCrosstab").prop("disabled", true);
                $("#CurrentNodeSetXAxis").prop("disabled", true);
                $("#GoToItemsWithThisCode").prop("disabled", true);
                $("#GoToItemsWithThisCode").attr('onclick', '');
                return;
            }
            console.log("Change", dataItem.setId, dataItem.id, dataItem.text);
            $("#CurrentNodeName").text(dataItem.text);
            $("#CurrentNodeNameCT").text(dataItem.text);
            $("#CurrentNodeId").text(dataItem.id);
            $("#CurrentNodeSetId").text(dataItem.setId);
            $("#CurrentNodeIsCodeSet").text(dataItem.isCodeset.toString());
            if (dataItem.items && dataItem.items.length > 0) {
                $("#CurrentNodeGoToFreq").prop("disabled", false);
                $("#CurrentNodeGoToSelfCrosstab").prop("disabled", false);
                $("#CurrentNodeGoToCrosstab").prop("disabled", dataItemXaxis == null);
                $("#CurrentNodeSetXAxis").prop("disabled", false);
            }
            else {
                $("#CurrentNodeGoToFreq").prop("disabled", true);
                $("#CurrentNodeGoToSelfCrosstab").prop("disabled", true);
                $("#CurrentNodeGoToCrosstab").prop("disabled", true);
                $("#CurrentNodeSetXAxis").prop("disabled", true);
            }
            if (dataItem.isCodeset) {
                $("#GoToItemsWithThisCode").prop("disabled", true);
                $("#GoToItemsWithThisCode").attr('onclick', '');
            } else {
                $("#GoToItemsWithThisCode").prop("disabled", false);
                $("#GoToItemsWithThisCode").attr('onclick', 'GoToItems(dataItem.id, \'' + dataItem.text.replace('\'', '&#39;') + '\')');
                //$("#GoToItemsWithThisCode").attr('onclick', 'GoToItems(dataItem.id)');
            }
        }
        function SetXAxis() {
            if (!dataItem) {
                dataItemXaxis = null;
                $("#x_axis_setting").hide();
                $("CurrentNodeGoToCrosstab").prop("disabled", true);
            }
            else {
                dataItemXaxis = dataItem;
                $("#x_axis_name").text(dataItemXaxis.text);
                $("CurrentNodeGoToCrosstab").prop("disabled", false);
                $("#x_axis_setting").show();
            }
        }

        function GetYearsFreqs() {
            $("#chart").kendoChart({
                categoryAxis: {
                    field: "year"
                },
                series: [
                    { field: "count" }
                ],
                seriesDefaults: {
                    type: 'bar'
                },
                seriesClick: function (e) {
                    //console.log("Clicked " + e.value, e);
                    GoToYearList(e.category);
                },
                axisLabelClick: function (e) {
                    //console.log("Clicked " + e.value, e);
                    GoToYearList(e.value);
                },
                dataSource: {
                    transport: {
                        read: {
                            url: "../Review/YearHistogramJSON",
                            dataType: "json"
                        }
                    }
                }
                , tooltip: {
                    visible: true,
                    template: "Items count: #= value #"
                }

            });
        }

        function GoToYearList(year) {
            //if (year == "Unknown") year = "'    ' OR '0   '";
            postwith("../ItemList/GetListSearchResults", {
                SearchString: year
                , SearchWhat: "PubYear"
                , included: "true"
            })
        }
        //var treeviewData = $("#treeView").data("kendoTreeView");
        //treeview.bind("change", TreeViewSelection);
    </script>

    <!---------------------------------------------------------------------------------------------------------------------->





    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="blue">

                <a href="index.html" class="logo">
                    <img src="../assets/img/logo.svg" alt="navbar brand" class="navbar-brand">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">

                <div class="container-fluid">
                    <form asp-controller="ItemList" asp-action="GetListSearchResults" method="post" class="navbar-left navbar-form nav-search mr-md-3">
                        <table>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button type="submit" class="btn btn-search pr-1">
                                                <i class="fa fa-search search-icon"></i>
                                            </button>
                                        </div>
                                        <input type="text" placeholder="Search records..." class="form-control" maxlength="4000" name="SearchString" id="SearchString" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-auto">
                                        <select name="SearchWhat" id="SearchWhat" class="btn btn-light dropdown-toggle ml-1 mr-2">
                                            <option value="TitleAbstract">Title and Abstract</option>
                                            <option value="Title">Title</option>
                                            <option value="Abstract">Abstract</option>
                                            <option value="Authors">Authors</option>
                                            <option value="PubYear">Publication Year</option>
                                            <option value="AdditionalText">"Coded" Text</option>
                                            <option value="ItemId">ItemIds (comma separated)</option>
                                            <option value="OldItemId">Imported Ids (comma separated)</option>
                                        </select>
                                    </div>

                                    <div>
                                        <input type="radio" style="display:none" class="ml-auto my-auto" id="includedt" name="included" value="true" checked>
                                    </div>
                                </td>
                                <td>

                                    <button class="btn btn-info" type="submit" style="display:none">
                                        Search
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item toggle-nav-search hidden-caret">
                            <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>



                        <a href="https://localhost:44314/Review" class="btn btn-white btn-border btn-round mr-2">Home</a>
                        <a href="https://localhost:44314/Login/Logout" class="btn btn-info btn-round">Logout</a>&nbsp;&nbsp;&nbsp;



                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic btn btn-white btn-border btn-round" data-toggle="dropdown" href="#" aria-expanded="false">
                                Contact
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <div class="dropdown-user-scroll scrollbar-outer">
                                    <li>
                                        <div class="user-box">
                                            <div class="avatar-lg"><img src="../assets/img/profile.jpg" alt="image profile" class="avatar-img rounded"></div>
                                            <div class="u-text">
                                                <h4>Steven Startle</h4>
                                                <p class="text-muted">s.startle@ucl.ac.uk</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                        <table>
                                            <tr>
                                                <td style="padding: 0px 10px 0px 10px;">
                                                    <p class="text-muted">
                                                        EPPI-Centre<br />
                                                        Social Science Research Unit<br />
                                                        UCL Institute of Education,<br />
                                                        University College London<br />
                                                        18 Woburn Square<br />
                                                        London<br />
                                                        WC1H 0NR<br />
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>


                                    </li>
                                </div>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <br />
                    <ul class="nav nav-primary">

                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Coding tools</h4>
                        </li>

                        <li class="nav-item">

                            <div id="treeView" style="overflow: auto;height: 100%;max-height: 75vh;font-size: 14px;color: #000000;font-family: Lato,sans-serif;"></div>

                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- End Sidebar -->



        <div class="main-panel">
            <div class="content">
                <div class="panel-header bg-primary-gradient">
                    <div class="page-inner py-5">
                        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div>
                                            <h2 class="text-white pb-2 fw-bold">@Model.WebDb.WebDBName</h2>
                                            <h5 class="text-white op-7 mb-2">Public health interventions within the community.</h5>
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <div>
                                            @if (imgPath1 != "")
                                            {
                                                <img src=@imgPath1 style="max-height: 60px; object-fit: cover;" class="float-right" />
                                            }
                                        </div>
                                    </td>
                                    <td style="text-align:right">
                                        <div>
                                            @if (imgPath2 != "")
                                            {
                                                <img src=@imgPath2 style="max-height: 60px; object-fit: cover;" class="float-right" />
                                            }
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            
                            
                        </div>
                    </div>
                </div>
                <div class="page-inner mt--5">
                    <div class="row mt--2">


                        <div class="col-md-8">
                            <div class="card full-height">
                                <div class="card-header">
                                    <div class="card-title">Introduction</div>
                                </div>
                                <div class="card-body">

                                    <div class="card-category">@(new HtmlString(Model.WebDb.WebDBDescription))</div>



                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card full-height">
                                <div class="card-header">
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="card-title">Publications by year</div>
                                            </td>
                                            <td style="padding: 0px 0px 0px 25px;">
                                                <a class="btn btn-secondary btn-round btn-sm" asp-controller="ItemList" asp-action="Index">All records</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="card-body">

                                    <div id="chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card full-height">
                                <div class="card-header">
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="card-title">Frequencies</div>
                                            </td>
                                            <td style="padding: 0px 0px 0px 25px;">
                                                <button id="GoToItemsWithThisCode" class="btn btn-secondary btn-sm btn-round" disabled>List records</button>
                                                @*<button class="btn btn-secondary btn-sm btn-round" onclick="GoToFreq()" disabled id="CurrentNodeGoToFreq">Frequencies</button>*@
                                                <button class="btn btn-primary btn-sm btn-round" onclick="GetFreqs()" disabled id="CurrentNodeGoToFreq">Frequencies</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="card-body">
                                    Selected code:
                                    <div class="ml-1 font-weight-bold my-auto" id="CurrentNodeName"></div><br />
                                    <div style="height:50vh;" id="FrequenciesGrid"></div>
                                    <script id="FrequenciesTemplate" type="text/x-kendo-tmpl">
                                        <tr class="border border-bottom ">
                                            @*<td>
                                                #= attributeId #
                                            </td>*@
                                            <td class="px-1 py-0 border-bottom small w-75">
                                                #= attribute #
                                            </td>
                                            <td class="px-1 py-0 border-bottom small w-25">
                                                #= GetFreqLinkContent(attributeId, itemCount) #
                                                @*<a href="#= if(itemCount == 0 ) {'0'} else { 'javascript:GoToItems(' + attributeId +')'#" style="color: #007bff!important;">#= itemCount #</a>
                                                  <a href="javascript:GoToItems(#= attributeId #)" style="color: #007bff!important;">#= itemCount #</a>*@
                                            </td>
                                        </tr>
                                    </script>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card full-height">
                                <div class="card-header">
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="card-title">Crosstabs</div>
                                            </td>
                                            <td style="padding: 0px 0px 0px 25px;">
                                                <button class="btn btn-secondary btn-sm btn-round" onclick="GoToCrosstab(true)" disabled id="CurrentNodeGoToSelfCrosstab">Self Cross Tab</button>
                                                <button class="btn btn-secondary btn-sm btn-round" onclick="GoToCrosstab(false)" disabled id="CurrentNodeGoToCrosstab">Full Cross Tab</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="card-body">
                                    Selected code:
                                    <div class="ml-1 font-weight-bold my-auto" id="CurrentNodeNameCT"></div><br />


                                    <button class="btn btn-secondary btn-sm btn-round" onclick="SetXAxis()" disabled id="CurrentNodeSetXAxis">Set X axis</button>
                                    <div class="row m-0" id="x_axis_setting" style="display:none;">
                                        <div class="my-auto">X-axis is set to: <span id="x_axis_name" class="m-1"></span></div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="card full-height">
                                <div class="card-header">
                                    <div class="card-head-row">
                                        <div class="card-title">User Statistics</div>
                                        <div class="card-tools">
                                            <a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
                                                <span class="btn-label">
                                                    <i class="fa fa-pencil"></i>
                                                </span>
                                                Export
                                            </a>
                                            <a href="#" class="btn btn-info btn-border btn-round btn-sm">
                                                <span class="btn-label">
                                                    <i class="fa fa-print"></i>
                                                </span>
                                                Print
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart-container" style="min-height: 375px">
                                        <canvas id="statisticsChart"></canvas>
                                    </div>
                                    <div id="myChartLegend"></div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="row row-card-no-pd">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-head-row card-tools-still-right">
                                        <h4 class="card-title">Users Geolocation</h4>
                                        <div class="card-tools">
                                            <button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-angle-down"></span></button>
                                            <button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"><span class="fa fa-sync-alt"></span></button>
                                            <button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-times"></span></button>
                                        </div>
                                    </div>
                                    <p class="card-category">
                                        Map of the distribution of users around the world
                                    </p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="table-responsive table-hover table-sales">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="flag">
                                                                    <img src="../assets/img/flags/id.png" alt="indonesia">
                                                                </div>
                                                            </td>
                                                            <td>Indonesia</td>
                                                            <td class="text-right">
                                                                2.320
                                                            </td>
                                                            <td class="text-right">
                                                                42.18%
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="flag">
                                                                    <img src="../assets/img/flags/us.png" alt="united states">
                                                                </div>
                                                            </td>
                                                            <td>USA</td>
                                                            <td class="text-right">
                                                                240
                                                            </td>
                                                            <td class="text-right">
                                                                4.36%
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="flag">
                                                                    <img src="../assets/img/flags/au.png" alt="australia">
                                                                </div>
                                                            </td>
                                                            <td>Australia</td>
                                                            <td class="text-right">
                                                                119
                                                            </td>
                                                            <td class="text-right">
                                                                2.16%
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="flag">
                                                                    <img src="../assets/img/flags/ru.png" alt="russia">
                                                                </div>
                                                            </td>
                                                            <td>Russia</td>
                                                            <td class="text-right">
                                                                1.081
                                                            </td>
                                                            <td class="text-right">
                                                                19.65%
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="flag">
                                                                    <img src="../assets/img/flags/cn.png" alt="china">
                                                                </div>
                                                            </td>
                                                            <td>China</td>
                                                            <td class="text-right">
                                                                1.100
                                                            </td>
                                                            <td class="text-right">
                                                                20%
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="flag">
                                                                    <img src="../assets/img/flags/br.png" alt="brazil">
                                                                </div>
                                                            </td>
                                                            <td>Brasil</td>
                                                            <td class="text-right">
                                                                640
                                                            </td>
                                                            <td class="text-right">
                                                                11.63%
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mapcontainer">
                                                <div id="map-example" class="vmap"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Top Products</div>
                                </div>
                                <div class="card-body pb-0">
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <img src="../assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">CSS</h6>
                                            <small class="text-muted">Cascading Style Sheets</small>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-info fw-bold">+$17</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <img src="../assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">J.CO Donuts</h6>
                                            <small class="text-muted">The Best Donuts</small>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-info fw-bold">+$300</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="d-flex">
                                        <div class="avatar">
                                            <img src="../assets/img/logoproduct3.svg" alt="..." class="avatar-img rounded-circle">
                                        </div>
                                        <div class="flex-1 pt-1 ml-2">
                                            <h6 class="fw-bold mb-1">Ready Pro</h6>
                                            <small class="text-muted">Bootstrap 4 Admin Dashboard</small>
                                        </div>
                                        <div class="d-flex ml-auto align-items-center">
                                            <h3 class="text-info fw-bold">+$350</h3>
                                        </div>
                                    </div>
                                    <div class="separator-dashed"></div>
                                    <div class="pull-in">
                                        <canvas id="topProductsChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title fw-mediumbold">Suggested People</div>
                                    <div class="card-list">
                                        <div class="item-list">
                                            <div class="avatar">
                                                <img src="../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
                                            </div>
                                            <div class="info-user ml-3">
                                                <div class="username">Jimmy Denis</div>
                                                <div class="status">Graphic Designer</div>
                                            </div>
                                            <button class="btn btn-icon btn-primary btn-round btn-xs">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="item-list">
                                            <div class="avatar">
                                                <img src="../assets/img/chadengle.jpg" alt="..." class="avatar-img rounded-circle">
                                            </div>
                                            <div class="info-user ml-3">
                                                <div class="username">Chad</div>
                                                <div class="status">CEO Zeleaf</div>
                                            </div>
                                            <button class="btn btn-icon btn-primary btn-round btn-xs">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="item-list">
                                            <div class="avatar">
                                                <img src="../assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
                                            </div>
                                            <div class="info-user ml-3">
                                                <div class="username">Talha</div>
                                                <div class="status">Front End Designer</div>
                                            </div>
                                            <button class="btn btn-icon btn-primary btn-round btn-xs">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="item-list">
                                            <div class="avatar">
                                                <img src="../assets/img/mlane.jpg" alt="..." class="avatar-img rounded-circle">
                                            </div>
                                            <div class="info-user ml-3">
                                                <div class="username">John Doe</div>
                                                <div class="status">Back End Developer</div>
                                            </div>
                                            <button class="btn btn-icon btn-primary btn-round btn-xs">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="item-list">
                                            <div class="avatar">
                                                <img src="../assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
                                            </div>
                                            <div class="info-user ml-3">
                                                <div class="username">Talha</div>
                                                <div class="status">Front End Designer</div>
                                            </div>
                                            <button class="btn btn-icon btn-primary btn-round btn-xs">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="item-list">
                                            <div class="avatar">
                                                <img src="../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
                                            </div>
                                            <div class="info-user ml-3">
                                                <div class="username">Jimmy Denis</div>
                                                <div class="status">Graphic Designer</div>
                                            </div>
                                            <button class="btn btn-icon btn-primary btn-round btn-xs">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-primary bg-primary-gradient">
                                <div class="card-body">
                                    <h4 class="mt-3 b-b1 pb-2 mb-4 fw-bold">Active user right now</h4>
                                    <h1 class="mb-4 fw-bold">17</h1>
                                    <h4 class="mt-3 b-b1 pb-2 mb-5 fw-bold">Page view per minutes</h4>
                                    <div id="activeUsersChart"></div>
                                    <h4 class="mt-5 pb-3 mb-0 fw-bold">Top active pages</h4>
                                    <ul class="list-unstyled">
                                        <li class="d-flex justify-content-between pb-1 pt-1"><small>/product/readypro/index.html</small> <span>7</span></li>
                                        <li class="d-flex justify-content-between pb-1 pt-1"><small>/product/atlantis/demo.html</small> <span>10</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>





            <div class="row">





                <div class="col-md-4">
                    <div class="col-12 ">
                        Review Id is:
                        <h5>@Model.RevInfo.ReviewId</h5>
                    </div>
                    <div class=" col">
                        Screening is:
                        @if (Model.RevInfo.ShowScreening)
                        {<text>Active</text>}
                    else
                    {<text>Disabled</text>}
                    </div>
                    <div class="col-12 ">
                        This web DB will only show items with this code:
                        <div>@ViewBag.AttName (ID: @ViewBag.AttId)</div>
                        <div class="col-7 col-md-8 row mx-0 p-0">
                            <div>
                                <div><b>@Model.WebDb.WebDBId</b></div>

                                <div>This WebDatabase uses EPPI-Reviewer data from the  review called: <b>@Model.RevInfo.ReviewName</b></div>
                            </div>



                        </div>
                    </div>
                    <div class="col-12 " id="CurrentNode">
                        <div class="row">Selected code: <span class="ml-1 font-weight-bold" id="CurrentNodeName"></span></div>
                        <div class="row">Selected code: <span class="ml-1 font-weight-bold" id="CurrentNodeNameCT"></span></div>
                        <div class="row">Selected Id: <span class="ml-1 font-weight-bold" id="CurrentNodeId"></span></div>
                        <div class="row">Selected SetId: <span class="ml-1 font-weight-bold" id="CurrentNodeSetId"></span></div>
                        <div class="row">Is a coding tool: <span class="ml-1 font-weight-bold" id="CurrentNodeIsCodeSet"></span></div>

                    </div>

                </div>


            </div>












        </div>


        <!-- End Custom template -->
    </div>





    <!--   Core JS Files   -->
    <!--<script src="../assets/js/core/jquery.3.2.1.min.js"></script>-->
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


    <!-- Chart JS -->
    <script src="../assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="../assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="../assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="../assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="../assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <!-- jQuery Vector Maps -->
    <script src="../assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="../assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Sweet Alert -->
    <script src="../assets/js/plugin/sweetalert/sweetalert.min.js"></script>
    <!-- Atlantis JS -->
    <script src="../assets/js/atlantis.min.js"></script>

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="../assets/js/setting-demo.js"></script>
    <script src="../assets/js/demo.js"></script>
    <script>
        Circles.create({
            id: 'circles-1',
            radius: 45,
            value: 60,
            maxValue: 100,
            width: 7,
            text: 5,
            colors: ['#f1f1f1', '#FF9E27'],
            duration: 400,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        Circles.create({
            id: 'circles-2',
            radius: 45,
            value: 70,
            maxValue: 100,
            width: 7,
            text: 36,
            colors: ['#f1f1f1', '#2BB930'],
            duration: 400,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        Circles.create({
            id: 'circles-3',
            radius: 45,
            value: 40,
            maxValue: 100,
            width: 7,
            text: 12,
            colors: ['#f1f1f1', '#F25961'],
            duration: 400,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

        var mytotalIncomeChart = new Chart(totalIncomeChart, {
            type: 'bar',
            data: {
                labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
                datasets: [{
                    label: "Total Income",
                    backgroundColor: '#ff9e27',
                    borderColor: 'rgb(23, 125, 255)',
                    data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            display: false //this will remove only the label
                        },
                        gridLines: {
                            drawBorder: false,
                            display: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            drawBorder: false,
                            display: false
                        }
                    }]
                },
            }
        });

        $('#lineChart').sparkline([105, 103, 123, 100, 95, 105, 115], {
            type: 'line',
            height: '70',
            width: '100%',
            lineWidth: '2',
            lineColor: '#ffa534',
            fillColor: 'rgba(255, 165, 52, .14)'
        });
    </script>





</body>
</html>
