@model BusinessLibrary.BusinessClasses.WebDbItemAttributeCrosstabList
@using BusinessLibrary.BusinessClasses
Crosstab!
<script type="text/javascript">
    function GoToItems(WithAttIds, WithSetId, WithoutAttIds, WithoutSetId, Descript) {

        postwith("../ItemList/GetListWithWithoutAtts",
            {
                WithAttIds: WithAttIds
                , WithSetId: WithSetId
                , WithoutAttIds: WithoutAttIds
                , WithoutSetId: WithoutSetId
                , included: @Model.Included
                , Description: Descript.replaceAll('&#39;', '\'')
            });
    }


    function ReloadCrosstab() {
        console.log("CurrentNodeGoToCrosstab");
        if (!@Model.SetIdX) {
            console.log("CurrentNodeGoToCrosstab no data");
            return;
        }
        var pars = {
            attIdx: @Model.AttibuteIdX
            , setIdx: @Model.SetIdX
            , attIdy: @Model.AttibuteIdY
            , setIdy: @Model.SetIdY
            , included: true
        }
        postwith("../Frequencies/GetCrosstab", pars);
    }


</script>

<input type="hidden" value="@Model.Included" name="included" id="includedCrit" />
<input type="hidden" value="@Model.SetIdY" name="setIdYAxis" id="setIdYAxisCrit" />
<input type="hidden" value="@Model.SetIdX" name="setIdXAxis" id="setIdXAxisCrit" />
<input type="hidden" value="@Model.FilterAttributeId" name="onlyThisAttribute" id="onlyThisAttributeCrit" />
<input type="hidden" value="@Model.WebDbId" name="webDbId" id="webDbIdCrit" />

<input type="hidden" value="@Model.SetIdXName" name="SetIdXName" id="SetIdXNameCrit" />
<input type="hidden" value="@Model.SetIdYName" name="SetIdYName" id="SetIdYNameCrit" />
<input type="hidden" value="@Model.AttibuteIdX" name="AttibuteIdXAxis" id="AttibuteIdXCrit" />
<input type="hidden" value="@Model.AttibuteIdY" name="AttibuteIdYAxis" id="AttibuteIdYCrit" />
<input type="hidden" value="@Model.AttibuteIdXName" name="AttibuteIdXName" id="AttibuteIdXNameCrit" />
<input type="hidden" value="@Model.AttibuteIdYName" name="AttibuteIdYName" id="AttibuteIdYNameCrit" />





<br />
<br />
<br />
<br />

<table width="100%">
    <tr>
        <td style="padding:0px 20px 0px 20px">

            <div class="main-panel main-panel-no-sidebar">
                <div class="card">

                    <div class="card-body">
                        <table width="100%">
                            <tr>
                                <td>
                                    <h5 class="card-title mb-3">Cross-tab report</h5>
                                    @if ((@Model.AttibuteIdX == 0) && (Model.AttibuteIdY == 0))
                                    {
                                        <h5><b>(Column) @Model.SetIdXName.ToString()</b> vs <b>(Row) @Model.SetIdYName.ToString()</b></h5>
                                    }
                                    @if ((@Model.AttibuteIdX != 0) && (Model.AttibuteIdY != 0))
                                    {
                                        <h5><b>(Column) @Model.AttibuteIdXName.ToString()</b> vs <b>(Row) @Model.AttibuteIdYName.ToString()</b></h5>
                                    }
                                    @if ((@Model.AttibuteIdX == 0) && (Model.AttibuteIdY != 0))
                                    {
                                        <h5><b>(Column) @Model.SetIdXName.ToString()</b> vs <b>(Row) @Model.AttibuteIdYName.ToString()</b></h5>
                                    }
                                    @if ((@Model.AttibuteIdX != 0) && (Model.AttibuteIdY == 0))
                                    {
                                        <h5><b>(Column) @Model.AttibuteIdXName.ToString()</b> vs <b>(Row) @Model.SetIdYName.ToString()</b></h5>
                                    }

                                </td>
                                <td style="text-align:right">
                                    <div class="card-tools">
                                        <button class="btn btn-primary btn-sm btn-round" onclick="ReloadCrosstab()">
                                            <span class="btn-label">
                                                <i class="fa fa-table"></i>
                                            </span>
                                            Table
                                        </button>
                                        <a href="#" class="btn btn-info btn-round btn-sm mr-2">
                                            <span class="btn-label">
                                                <i class="fa fa-circle"></i>
                                            </span>
                                            Bubble map
                                        </a>
                                        <a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
                                            <span class="btn-label">
                                                <i class="fa fa-file-excel"></i>
                                            </span>
                                            Export
                                        </a>
                                        <a href="#" class="btn btn-info btn-border btn-round btn-sm">
                                            <span class="btn-label">
                                                <i class="fa fa-copy"></i>
                                            </span>
                                            Copy
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>






                        <div class="card-body">
                            <table class="content-full table table-striped">
                                <tr>
                                    <th></th>
                                    @for (int i = 0; i < Model.ColumnAttIDs.Count; i++)
                                    {
                                        <th>
                                            @Model.ColumnAttNames[i]
                                        </th>
                                    }

                                </tr>
                                @foreach (WebDbItemAttributeCrosstabRow row in Model.Rows)
                                {
                                    <tr>
                                        <th>@row.AttributeName</th>
                                        @for (int i = 0; i < Model.ColumnAttIDs.Count; i++)
                                        {
                                            @if (row.Counts[i] == 0)
                                            {
                                                <td>
                                                    0
                                                </td>
                                            }
                                            else if (row == Model.Rows[Model.Rows.Count - 1])
                                            {//last row, with column header, without all the row codes
                                                string with = Model.ColumnAttIDs[i].ToString();
                                                string without = "";
                                                string withoutSets = "";
                                                //string descript = "Listing &#39;None of the above&#39; crosstab result for the code: " + Model.ColumnAttNames[i].Replace("'", "&#39;");
                                                string descript = "Records without " + Model.ColumnAttNames[i].Replace("'", "&#39;");
                                                for (int ri = 0; ri < Model.Rows.Count - 1; ri++)//skip last row!
                                                {
                                                    without += Model.Rows[ri].AttributeId.ToString() + ",";
                                                    withoutSets += @Model.SetIdY.ToString() + ",";
                                                }
                                                without = without.TrimEnd(',');
                                                withoutSets = withoutSets.TrimEnd(',');
                                                <th style="background-color: rgba(211, 211, 255, 0.20)">
                                                    <a href="javascript:GoToItems('@with', '@Model.SetIdX.ToString()', '@without', '@withoutSets', '@descript')">@row.Counts[i]</a>
                                                </th>
                                            }
                                            else if (i == Model.ColumnAttIDs.Count - 1)
                                            {//last cell with row header, without all the column codes
                                                string with = row.AttributeId.ToString();
                                                string without = "";
                                                string withoutSets = "";
                                                //string descript = "Listing &#39;None of these&#39; crosstab result for the code: " + row.AttributeName.Replace("'", "&#39;");
                                                string descript = "Records without " + row.AttributeName.Replace("'", "&#39;");
                                                for (int ci = 0; ci < row.Counts.Count - 1; ci++)//skip last column!
                                                {
                                                    without += Model.ColumnAttIDs[ci].ToString() + ",";
                                                    withoutSets += @Model.SetIdX.ToString() + ",";
                                                }
                                                without = without.TrimEnd(',');
                                                withoutSets = withoutSets.TrimEnd(',');
                                                <th style="background-color:rgba(211, 211, 255, 0.20)">
                                                    <a href="javascript:GoToItems('@with', '@Model.SetIdY.ToString()', '@without', '@withoutSets', '@descript')">@row.Counts[i]</a>
                                                </th>
                                            }
                                            else
                                            {//normal cell, with row and col codes
                                                string with = row.AttributeId.ToString() + "," + Model.ColumnAttIDs[i].ToString();
                                                string withSets = Model.SetIdY.ToString() + "," + Model.SetIdX.ToString();
                                                //string descript = "Listing crosstab result for the codes (x,y): " + Model.ColumnAttNames[i].Replace("'", "&#39;") + ", " + row.AttributeName.Replace("'", "&#39;");
                                                string descript = Model.ColumnAttNames[i].Replace("'", "&#39;") + " <AND> " + row.AttributeName.Replace("'", "&#39;");

                                                <th style="background-color:rgba(211, 211, 255, 0.20)">
                                                    <a href="javascript:GoToItems('@with', '@withSets', '', '', '@descript')">@row.Counts[i]</a>
                                                </th>
                                            }
                                        }
                                    </tr>
                                }
                            </table>
                        </div>


                    </div>


                </div>
            </div>
        </td>
    </tr>
</table>
