@model BusinessLibrary.BusinessClasses.WebDbFrequencyCrosstabAndMapSelectionCriteria
@using BusinessLibrary.BusinessClasses


<input type="hidden" value="@Model.included" name="included" id="includedCrit" />
<input type="hidden" value="@Model.attributeIdXAxis" name="attributeIdXAxis" id="attributeIdXAxisCrit" />
<input type="hidden" value="@Model.setIdXAxis" name="setIdXAxis" id="setIdXAxisCrit" />
<input type="hidden" value="@Model.nameXAxis" name="nameXAxis" id="nameXAxisCrit" />
<input type="hidden" value="@Model.onlyThisAttribute" name="onlyThisAttribute" id="onlyThisAttributeCrit" />
<input type="hidden" value="@Model.webDbId" name="webDbId" id="webDbIdCrit" />

<script type="text/javascript">

    var barChartHeight = 250;
    var treeChartHeight = 250;
    let freqData = null;

    $(document).ready(function () {
        //console.log("ready function is happening");
        var pars = {
            attributeIdXAxis: @Model.attributeIdXAxis
            , setIdXAxis: @Model.setIdXAxis
            , attributeIdYAxis: @Model.attributeIdYAxis
            , nameXAxis: $("#nameXAxisCrit").val()
            , included: @Model.included
            , graphic: "table"
        }
        $("#BuildBarHideNOA").hide();
        $("#BuildBarShowNOA").hide();
        $("#TallerBarBT").hide();
        $("#ShorterBarBT").hide();
        $("#spinner").show();
        $("#resultsTable").hide();
        $.post("../Frequencies/GetFrequenciesResultsJSON", pars, (data, status) => buildResults(data, status));
    });

    function buildResults(data, status) {
        if (data && status == "success") {
            freqData = data;
            GoToFreq();
        }
        else if (status != "success") {
            //show some error message??
        }
    }

    function GoToFreq() {
        $("#GoToFreqBT").prop("disabled", true);
        $("#BuildBarBT").prop("disabled", false);
        $("#BuildPieBT").prop("disabled", false);
        $("#BuildTreemapBT").prop("disabled", false);
        $("#BarOrPieChartVisible").hide();
        $("#FrequenciesChart").hide();
        $("#BuildBarHideNOA").hide();
        $("#BuildBarShowNOA").hide();
        $("#TallerBarBT").hide();
        $("#ShorterBarBT").hide();
        $("#TallerTreeBT").hide();
        $("#ShorterTreeBT").hide();
        let counter = 0;
        let innerHtml = "";
        for (let itm of freqData)
        {
            innerHtml += '<div class="row">';
            counter++;
            if (counter % 2 == 0) {
                innerHtml += '<div class="col text-left border-bottom" style="background-color:#ebedf2">' +  HTMLEncodeText(itm.attribute) + '</div>';
                innerHtml += '<div class="col text-left border-bottom" style="background-color:#ebedf2">';
            }
            else {
                innerHtml += "<div class=\"col text-left border-bottom\">" + HTMLEncodeText(itm.attribute) + "</div>";
                innerHtml += "<div class=\"col text-left border-bottom\">";
            }

            if (itm.itemCount == 0) {
                innerHtml += '<text>0</text>';
            }
            else {
                innerHtml += "<a href=\"javascript:GotoItemsTable(" + itm.attributeId + ")\">" + itm.itemCount + "</a>";
            }

            innerHtml += "</div></div>";
        }

        $("#spinner").hide();
        $("#FrequenciesGridRows").html(innerHtml);
        $("#FrequenciesGrid").show();
    }

    function BuildTallerBar(showNoneOfTheAbove) {
        barChartHeight = barChartHeight + 150;
        BuildBar(showNoneOfTheAbove);
    }

    function BuildShorterBar(showNoneOfTheAbove) {
        if (barChartHeight > 250) {
            barChartHeight = barChartHeight - 150;
        }
        BuildBar(showNoneOfTheAbove)
    }

    function BuildBar(showNoneOfTheAbove) {

        $("#GoToFreqBT").prop("disabled", false);
        $("#BuildBarBT").prop("disabled", true);
        $("#BuildPieBT").prop("disabled", false);
        $("#BuildTreemapBT").prop("disabled", false);
        $("#BarOrPieChartVisible").show();
        $("#FrequenciesGrid").hide();
        $("#FrequenciesChart").show();
        $("#TallerBarBT").show();
        $("#ShorterBarBT").show();
        $("#TallerTreeBT").hide();
        $("#ShorterTreeBT").hide();

        let myData = [];
        for (var i = 0; i < freqData.length; i++) {
            myData.push(freqData[i]);
        }

        if (showNoneOfTheAbove == 0) {
            if (myData[myData.length - 1].attributeId == -999999) {
                myData.splice(freqData.length - 1, 1);
            }
            $("#BuildBarShowNOA").show();
            $("#BuildBarHideNOA").hide();
        }
        else {
            $("#BuildBarShowNOA").hide();
            $("#BuildBarHideNOA").show();
        }

        var fieldName = "color";
        for (var i = 0; i < myData.length; i++) {

            // shorten codes names that are stupid long
            if (myData[i].attribute.length > 60) {
                myData[i].shortName = myData[i].attribute.substring(0, 60) + "...";
            } else {
                myData[i].shortName = myData[i].attribute;
            }

            // set the colour
            myData[i][fieldName] = "#ff6800";
        }

        $("#FrequenciesChart").kendoChart({
            //dataSource: { data: freqData },
            dataSource: { data: myData },
            categoryAxis: {
                field: "shortName"
            },
            series: [
                { field: "itemCount" }
            ],           
            seriesDefaults: {
                type: 'bar'
            },
            seriesClick: function (e) {
                GoToListBar(e);
            },
            chartArea: {
                height: barChartHeight
            },
            tooltip: {
                visible: true,
                template: "#= HTMLEncodeText(dataItem.attribute) #: #= value # records"
            }
        });

    }


    function BuildPieOrig() {

        $("#GoToFreqBT").prop("disabled", false);
        $("#BuildBarBT").prop("disabled", false);
        $("#BuildTreemapBT").prop("disabled", false);
        $("#BuildBarHideNOA").hide();
        $("#BuildBarShowNOA").hide();
        $("#BuildPieBT").prop("disabled", true);
        $("#BarOrPieChartVisible").show();
        $("#FrequenciesGrid").hide();
        $("#FrequenciesChart").show();
        $("#TallerBarBT").hide();
        $("#ShorterBarBT").hide();
        $("#TallerTreeBT").hide();
        $("#ShorterTreeBT").hide();


        $("#FrequenciesChart").kendoChart({
            dataSource: { data: freqData },
            legend: {
                position: "right"
            },
            chartArea: {
                height: 250
            },
            seriesDefaults: {
                type: "pie"
            },
            seriesClick: function (e) {
                GoToListPie(e);
            },
            series: [{
                field: "itemCount",
                categoryField: "attribute",
                padding: 0
            }],
            tooltip: {
                visible: true,
                template: "#= HTMLEncodeText(category) #: #= value # records"
            }
        });
    }


    function BuildTallerTree() {
        treeChartHeight = treeChartHeight + 150;
        BuildTreemap();
    }

    function BuildShorterTree() {
        if (treeChartHeight > 250) {
            treeChartHeight = treeChartHeight - 150;
        }
        BuildTreemap()
    }


    function BuildTreemap() {

        $("#GoToFreqBT").prop("disabled", false);
        $("#BuildBarBT").prop("disabled", false);
        $("#BuildPieBT").prop("disabled", false);
        $("#BuildTreemapBT").prop("disabled", true);
        $("#BuildBarHideNOA").hide();
        $("#BuildBarShowNOA").hide();
        $("#TallerBarBT").hide();
        $("#ShorterBarBT").hide();
        $("#TallerTreeBT").show();
        $("#ShorterTreeBT").show();
        

        $("#BarOrPieChartVisible").hide();
        $("#FrequenciesGrid").hide();
        $("#FrequenciesChart").show();

        let myData = [];
        // remove all of the rows that have zero values
        for (var i = freqData.length - 1; i >= 0; i--) {
            if (freqData[i].itemCount > 0) {
                //console.log("adding: ", freqData.results[i]);
                myData.push(freqData[i]);
                //data.results.splice(i, 1);
            }
        }
        if (myData.length == 0) return;
        //var lastRow = myData.length - 1;

        // remove the last row if it is 'none of the above'
        if (myData[0].attributeId == -999999) {
            myData.splice(0, 1);
        }

        // add new field called 'color' and give it one of 6 bootstrap colours
        counter = 0
        var fieldName = "color";
        for (var i = 0; i < myData.length; i++) {
            if (counter == 0) {
                myData[i][fieldName] = "#1572e8";
            } else if (counter == 1) {
                myData[i][fieldName] = "#6861ce";
            } else if (counter == 2) {
                myData[i][fieldName] = "#48abf7";
            } else if (counter == 3) {
                myData[i][fieldName] = "#31ce36";
            } else if (counter == 4) {
                myData[i][fieldName] = "#ffad46";
            } else if (counter == 5) {
                myData[i][fieldName] = "#f25961";

            }
            if (counter == 5) {
                counter = 0;
            } else {
                counter += 1;
            }
        }

        let items = [];
        let itemObject = {
            "attribute": "",
            "attributeId": "",
            "itemCount": "",
            "color": ""
        }
        for (var i = 0; i < myData.length; i++) {
            itemObject = {
                "attribute": myData[i].attribute,
                "attributeId": myData[i].attributeId,
                "itemCount": myData[i].itemCount,
                "color": myData[i].color
            }
            items.unshift(itemObject);
        }

        var myData3 = [{
            name: "foo",
            value: 1,
            items: items
        }];

        $("#FrequenciesChart").kendoTreeMap({
            dataSource: {
                data: myData3
            },
            valueField: "itemCount",
            textField: "attribute",
            chartArea: {
                height: treeChartHeight
            },
            colors: "color",
            type: "squarified", // squarified vertical horizontal
            template: function (e) {
                return "<div>" + HTMLEncodeText(e.text) + "</div>";
            }
        }).on("click", ".k-leaf, .k-treemap-title", function (e) {
            var attributeId = $("#FrequenciesChart").data("kendoTreeMap").dataItem($(this).closest(".k-treemap-tile")).attributeId;
            var attribute = $("#FrequenciesChart").data("kendoTreeMap").dataItem($(this).closest(".k-treemap-tile")).attribute;

            GoToItemsJson(attributeId, attribute);

        });

        $("#FrequenciesChart").css("height", treeChartHeight);
        var treeMap = $("#FrequenciesChart").getKendoTreeMap();
        treeMap.resize();

        $("#FrequenciesChart").kendoTooltip({
            filter: ".k-leaf,.k-treemap-title",
            position: "top",
            content: function (e) {
                var treemap = $("#FrequenciesChart").data("kendoTreeMap");
                var item = treemap.dataItem(e.target.closest(".k-treemap-tile")).attribute;
                var counts = treemap.dataItem(e.target.closest(".k-treemap-tile")).itemCount;
                return HTMLEncodeText(item) + ": " + counts;
            }
        });

    }





    function BuildPie() {

        $("#GoToFreqBT").prop("disabled", false);
        $("#BuildBarBT").prop("disabled", false);
        $("#BuildPieBT").prop("disabled", true);
        $("#BuildTreemapBT").prop("disabled", false);
        $("#BarOrPieChartVisible").show();
        $("#FrequenciesGrid").hide();
        $("#FrequenciesChart").show();
        $("#BuildBarHideNOA").hide();
        $("#BuildBarShowNOA").hide();
        $("#TallerBarBT").hide();
        $("#ShorterBarBT").hide();
        $("#TallerTreeBT").hide();
        $("#ShorterTreeBT").hide();

        let myPieData = [];
        // remove all of the rows that have zero values
        for (var i = freqData.length - 1; i >= 0; i--) {
            if (freqData[i].itemCount > 0) {
                //console.log("adding: ", freqData.results[i]);
                myPieData.push(freqData[i]);
                //data.results.splice(i, 1);
            }
        }
        if (myPieData.length == 0) return;
        //var lastRow = myData.length - 1;

        // remove the last row if it is 'none of the above'
        if (myPieData[0].attributeId == -999999) {
            myPieData.splice(0, 1);
        }
        
        counter = 0
        var fieldName = "color";
        for (var i = 0; i < myPieData.length; i++) {

            // shorten codes names that are stupid long
            if (myPieData[i].attribute.length > 60) {
                myPieData[i].shortName = myPieData[i].attribute.substring(0, 60) + "...";
            } else {
                myPieData[i].shortName = myPieData[i].attribute;
            }

            // set the colours
            if (counter == 0) {
                myPieData[i][fieldName] = "#ff6800";
            } else if (counter == 1) {
                myPieData[i][fieldName] = "#a0a700";
            } else if (counter == 2) {
                myPieData[i][fieldName] = "#ff8d00";
            } else if (counter == 3) {
                myPieData[i][fieldName] = "#678900";
            } else if (counter == 4) {
                myPieData[i][fieldName] = "#ffb53c";
            } else if (counter == 5) {
                myPieData[i][fieldName] = "#396000";

            }
            if (counter == 5) {
                counter = 0;
            } else {
                counter += 1;
            }
        }
        


        var legendPostion = "right";
        var chartHeight = 250;

        var ele = document.getElementById("FrequenciesChart"), // Do not use #
            eleStyle = window.getComputedStyle(ele);
        /* Below is the width of ele */
        var eleWidth = parseInt(eleStyle.width.replace("px", ""));

        if (eleWidth <= 768) {
            legendPostion = "bottom";
            chartHeight = 400;
        }

        //if (myData.length > 200) {
        //    legendPostion = "bottom";
        //chartHeight = 600;
        //}

        $("#FrequenciesGrid").hide();

        if (myPieData.length != 0) {
            $("#BarOrPieChartVisible").show();
            $("#FrequenciesChart").show();
            $("#NoCodedRecords").hide();

            $("#FrequenciesChart").kendoChart({              
                dataSource: { data: myPieData },
                chartArea: {
                    height: chartHeight
                },
                seriesDefaults: {
                    type: "pie"
                },
                seriesClick: function (e) {
                    GoToListPie(e);
                },
                colors: "color",
                series: [{
                    field: "itemCount",
                    categoryField: "shortName",
                    padding: 0
                }],
                tooltip: {
                    visible: true,
                    template: "#= HTMLEncodeText(dataItem.attribute) #: #= value # records"
                },
                legend: {
                    item: {
                        visual: function (e) {
                            var color = e.options.markers.background;
                            var labelColor = e.options.labels.color;

                            var rect = new kendo.geometry.Rect([0, 0], [400, 50]);
                            if (eleWidth <= 768) {
                                rect = new kendo.geometry.Rect([0, 0], [400, 100]);
                            }


                            var layout = new kendo.drawing.Layout(rect, {
                                spacing: 10
                            });

                            var allZeroValues = false;
                            if (e.series.data[e.pointIndex].itemCount == 0) {
                                allZeroValues = true;
                            }

                            if (!allZeroValues) {
                                // create a circle geometry centered at x=10, y=5, with a radius of 5
                                var CircGeometry = new kendo.geometry.Circle([10, 5], 5);
                                // draw the circle using the geometry and set the color
                                var MarkerCircle = new kendo.drawing.Circle(CircGeometry, {
                                    stroke: { color: color, width: 1 },
                                    fill: { color: color }
                                });

                                var label = new kendo.drawing.Text(e.series.data[e.pointIndex].shortName + " (" +
                                    e.series.data[e.pointIndex].itemCount + ")", [0, 0], {
                                    fill: {
                                        color: labelColor
                                    }
                                });

                                layout.append(MarkerCircle, label);
                                layout.reflow()
                            }
                            return layout;
                        }
                    },
                    position: legendPostion,
                    padding: 10,
                    background: "#e2e3e5",
                    border: {
                        width: 1,
                        color: "#d6d8db"
                    },
                    
                },
            });
        }
        else {
            $("#BarOrPieChartVisible").hide();
            $("#FrequenciesChart").hide();
            $("#NoCodedRecords").show();
        }
    }



    function GotoItemsTable(attributeId) {
        if (freqData == null || freqData.length < 1) return;
        else {
            let foundInd = freqData.findIndex(f => f.attributeId == attributeId);
            if (foundInd > -1) {
                GoToItemsJson(freqData[foundInd].attributeId, freqData[foundInd].attribute);
            }
        }
    }

    function GoToListPie(rowData) {
        GoToItemsJson(rowData.dataItem.attributeId, rowData.dataItem.attribute);
        //$("#ItemCount").html("Loading...");
        //$("#ItemsGrid").empty();
        //$("#ItemsGrid").kendoGrid();
        //if (dataItem.dataItem.attributeId == -999999) {

        //    var attributeIdXAxis = $('#attributeIdXAxisCrit').val();
        //    $.post("../ItemList/GetFreqListNoneOfTheAboveJSon"
        //        , {
        //            attributeIdXAxis: attributeIdXAxis
        //            , setId: dataItem.dataItem.setId
        //            , included: "true"
        //            , onlyThisAttribute: 0
        //            , attName: dataItem.dataItem.attribute
        //        }
        //        , function (data, result) { BuildItems(data, result); }
        //    );
        //}
        //else {
        //    //postwith("../ItemList/GetFreqList", {
        //    //    attId: dataItem.dataItem.attributeId
        //    //    , attName: dataItem.dataItem.attribute
        //    //});
        //    $.post("../ItemList/GetFreqListJSon", {
        //        attId: dataItem.dataItem.attributeId
        //        , attName: dataItem.dataItem.attribute
        //    }
        //        , function (data, result) { BuildItems(data, result); }
        //    );
        //}
    }

    function GoToListBar(rowData) {
        GoToItemsJson(rowData.dataItem.attributeId, rowData.dataItem.attribute);
        //$("#ItemCount").html("Loading...");
        //$("#ItemsGrid").empty();
        //$("#ItemsGrid").kendoGrid();
        //if (dataItem.dataItem.attributeId == -999999) {
        //    var attributeIdXAxis = $('#attributeIdXAxisCrit').val();
        //    $.post("../ItemList/GetFreqListNoneOfTheAboveJSon", {
        //        attributeIdXAxis: attributeIdXAxis
        //        , setId: dataItem.dataItem.setId
        //        , included: "true"
        //        , onlyThisAttribute: 0
        //        , attName: dataItem.dataItem.attribute
        //    }
        //        , function (data, result) { BuildItems(data, result); })
        //}
        //else {
        //    //postwith("../ItemList/GetFreqList", {
        //    //    attId: dataItem.dataItem.attributeId
        //    //    , attName: dataItem.dataItem.attribute
        //    //}
        //    $.post("../ItemList/GetFreqListJSon", {
        //        attId: dataItem.dataItem.attributeId
        //        , attName: dataItem.dataItem.attribute
        //    }
        //        , function (data, result) { BuildItems(data, result); }
        //    )
        //}
    }

    function ExportImg() {
        var title = "@Model.nameXAxis.Replace("\'", "&#39;")";
        var chart = $("#FrequenciesChart").getKendoChart();
        chart.exportImage().done(function (data) {
        kendo.saveAs({
        dataURI: data,
        fileName: title
        /*, proxyURL: "https://demos.telerik.com/kendo-ui/service/export"*/
        });
        });
        };

        function GoToItemsJson(AttId, AttName = '') {
        $("#ItemCount").html("");
        $("#ItemsGrid").empty();
        $("#ItemsGrid").kendoGrid();
        let spinnerItems = $("#spinnerItems");
        if (spinnerItems) spinnerItems.show();
        if (AttId == -999999) {
        AttName = 'None of the above';
        var included = $('#includedCrit').val();
        var attributeIdXAxis = $('#attributeIdXAxisCrit').val();
        var setIdXAxis = $('#setIdXAxisCrit').val();
        var onlyThisAttribute = $('#onlyThisAttributeCrit').val();
        $.post("../ItemList/GetFreqListNoneOfTheAboveJSon"
        , {
        attributeIdXAxis: attributeIdXAxis
        , setId: setIdXAxis
        , included: included
        , onlyThisAttribute: onlyThisAttribute
        , attName: AttName
        }
        , function (data, result) {
        if (spinnerItems) spinnerItems.hide();
        BuildItems(data, result);
        }
        );
        } else {
        //AttName = AttName.replace(rgx2, "'");
        $.post("../ItemList/GetFreqListJSon"
        , { attId: AttId, attName: AttName }
        , function (data, result) {
        if (spinnerItems) spinnerItems.hide();
        BuildItems(data, result);
        }
        );
        }
        };

</script>



        <br />
        <br />
        <br />

        <div class="main-panel main-panel-no-sidebar">

            <div class="page-inner">

                <div class="card">
                    <div class="card-body">
                        <table width="100%">
                            <tr>
                                <td>
                                    <h5 class="card-title mb-3">Frequency report</h5><h5><b>@Model.nameXAxis</b></h5>
                                    <button class="btn btn-primary btn-sm btn-round" onclick="BuildTallerBar(1)" id="TallerBarBT">
                                        <span class="btn-label">
                                            <i class="fas fa-angle-double-up"></i>
                                        </span>
                                        Taller
                                    </button>
                                    <button class="btn btn-primary btn-sm btn-round" onclick="BuildShorterBar(1)" id="ShorterBarBT">
                                        <span class="btn-label">
                                            <i class="fas fa-angle-double-down"></i>
                                        </span>
                                        Shorter
                                    </button>
                                    <button class="btn btn-primary btn-sm btn-round" onclick="BuildTallerTree()" id="TallerTreeBT">
                                        <span class="btn-label">
                                            <i class="fas fa-angle-double-up"></i>
                                        </span>
                                        Taller
                                    </button>
                                    <button class="btn btn-primary btn-sm btn-round" onclick="BuildShorterTree()" id="ShorterTreeBT">
                                        <span class="btn-label">
                                            <i class="fas fa-angle-double-down"></i>
                                        </span>
                                        Shorter
                                    </button>
                                </td>
                                <td style="text-align:right">
                                    <div class="card-tools">
                                        <button class="btn btn-primary btn-sm btn-round" onclick="GoToFreq()" id="GoToFreqBT">
                                            <span class="btn-label">
                                                <i class="fa fa-table"></i>
                                            </span>
                                            Table
                                        </button>
                                        <button class="btn btn-primary btn-sm btn-round" onclick="BuildBar(1)" id="BuildBarBT">
                                            <span class="btn-label">
                                                <i class="fa fa-chart-bar"></i>
                                            </span>
                                            Bar
                                        </button>
                                        <button class="btn btn-primary btn-sm btn-round" onclick="BuildPie()" id="BuildPieBT">
                                            <span class="btn-label">
                                                <i class="fa fa-chart-pie"></i>
                                            </span>
                                            Pie
                                        </button>
                                        <button class="btn btn-primary btn-sm btn-round" onclick="BuildTreemap()" id="BuildTreemapBT">
                                            <span class="btn-label">
                                                <i class="fas fa-th"></i>
                                            </span>
                                            Treemap
                                        </button>
                                        <button class="btn btn-default btn-sm btn-round" onclick="ExportImg()" id="BarOrPieChartVisible" style="display:none;">
                                            <span class="btn-label">
                                                <i class="fa fa-save"></i>
                                            </span>
                                            Save
                                        </button>
                                        <!--<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2" disabled>
                                            <span class="btn-label">
                                                <i class="fa fa-file-excel"></i>
                                            </span>
                                            Export
                                        </a>-->
                                        <!--<a href="#" class="btn btn-info btn-border btn-round btn-sm" disabled>
                                            <span class="btn-label">
                                                <i class="fa fa-copy"></i>
                                            </span>
                                            Copy
                                        </a>-->
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div id="spinner" class="w-100" style="display:none;">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="FrequenciesGrid" style="display:none;">
                                <div class="row">
                                    <div class="col text-left border-bottom font-weight-bold" style="background-color:#ebedf2">Code</div>
                                    <div class="col border-bottom font-weight-bold" style="background-color:#ebedf2">Frequency</div>
                                </div>
                                <div id="FrequenciesGridRows"></div>

                            </div>

                            <div id="FrequenciesChart" class="chart" style="text-align:left">
                                <!-- pie and bar charts get displayed here -->
                            </div>
                            <button class="btn btn-primary btn-sm btn-round" onclick="BuildBar(0)" id="BuildBarHideNOA">
                                <span class="btn-label">
                                    <i class="fa fa-chart-bar"></i>
                                </span>
                                Remove last row
                            </button>
                            <button class="btn btn-primary btn-sm btn-round" onclick="BuildBar(1)" id="BuildBarShowNOA">
                                <span class="btn-label">
                                    <i class="fa fa-chart-bar"></i>
                                </span>
                                Show uncoded
                            </button>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div id="spinnerItems" class="col-12 row m-0" style="display:none;">
                        <div class="col-auto p-1">Loading...</div>
                        <div class="col d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    @await Html.PartialAsync("_ItemsList")
                </div>

            </div>


        </div>

