@model BusinessLibrary.BusinessClasses.FrequencyResultWithCriteria
@using BusinessLibrary.BusinessClasses
Frequency!
<script type="text/javascript">

</script>

<input type="hidden" value="@Model.criteria.included" name="included" id="includedCrit" />
<input type="hidden" value="@Model.criteria.attributeIdXAxis" name="attributeIdXAxis" id="attributeIdXAxisCrit" />
<input type="hidden" value="@Model.criteria.setIdXAxis" name="setIdXAxis" id="setIdXAxisCrit" />
<input type="hidden" value="@Model.criteria.nameXAxis" name="nameXAxis" id="nameXAxisCrit" />
<input type="hidden" value="@Model.criteria.onlyThisAttribute" name="onlyThisAttribute" id="onlyThisAttributeCrit" />
<input type="hidden" value="@Model.criteria.webDbId" name="webDbId" id="webDbIdCrit" />

<br />
<br />
<br />
<br />
<table width="100%">
    <tr>
        <td style="padding:0px 20px 0px 20px">
            <div class="main-panel main-panel-no-sidebar">

                <div class="card">
                    <div class="card-body">
                        <table width="100%">
                            <tr>
                                <td>
                                    <h5 class="card-title mb-3">Frequency report</h5><h5><b>@Model.criteria.nameXAxis.Replace("\'", "&#39;")</b></h5>
                                </td>
                                <td style="text-align:right">
                                    <div class="card-tools">
                                        <a href="#" class="btn btn-info btn-round btn-sm mr-2">
                                            <span class="btn-label">
                                                <i class="fa fa-chart-bar"></i>
                                            </span>
                                            Bar chart
                                        </a>

                                        <a href="#" class="btn btn-info btn-round btn-sm mr-2">
                                            <span class="btn-label">
                                                <i class="fa fa-chart-pie"></i>
                                            </span>
                                            Pie chart
                                        </a>
                                        <a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
                                            <span class="btn-label">
                                                <i class="fa fa-file-excel"></i>
                                            </span>
                                            Export
                                        </a>
                                        <a href="#" class="btn btn-info btn-border btn-round btn-sm">
                                            <span class="btn-label">
                                                <i class="fa fa-copy"></i>
                                            </span>
                                            Copy
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div class="card-body">
                            <div class="row">
                                @*<div class="col">ID</div>*@
                                <div class="col text-left border-bottom font-weight-bold" style="background-color:#ebedf2">Code</div>
                                <div class="col border-bottom font-weight-bold" style="background-color:#ebedf2">Frequency</div>
                            </div>

                            @{int counter = 0;}
                            @foreach (WebDbItemAttributeChildFrequency itm in Model.results)
                            {
                                <div class="row">
                                    @{counter++;}
                                    @if (counter % 2 == 0)
                                    {
                                        <div class="col text-left border-bottom" style="background-color:#ebedf2">@itm.Attribute</div>
                                        <div class="col text-left border-bottom" style="background-color:#ebedf2">
                                            @if (itm.ItemCount == 0)
                                            {
                                                <text>0</text>
                                            }
                                            else if (itm.AttributeId == -999999)
                                            {
                                                <a href="javascript:GoToItems(@itm.AttributeId, '@Model.criteria.nameXAxis.Replace("\'", "&#39;")')">@itm.ItemCount</a>
                                            }
                                            else
                                            {
                                                <a href="javascript:GoToItems(@itm.AttributeId, '@itm.Attribute.Replace("\'", "&#39;")')">@itm.ItemCount</a>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col text-left border-bottom">@itm.Attribute</div>
                                        <div class="col text-left border-bottom">
                                            @if (itm.ItemCount == 0)
                                            {
                                                <text>0</text>
                                            }
                                            else if (itm.AttributeId == -999999)
                                            {
                                                <a href="javascript:GoToItems(@itm.AttributeId, '@Model.criteria.nameXAxis.Replace("\'", "&#39;")')">@itm.ItemCount</a>
                                            }
                                            else
                                            {
                                                <a href="javascript:GoToItems(@itm.AttributeId, '@itm.Attribute.Replace("\'", "&#39;")')">@itm.ItemCount</a>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>