@model BusinessLibrary.BusinessClasses.FrequencyResultWithCriteria
@using BusinessLibrary.BusinessClasses
Frequency!
<script type="text/javascript">
    
</script>

<input type="hidden" value="@Model.criteria.included" name="included" id="includedCrit" />
<input type="hidden" value="@Model.criteria.attributeIdXAxis" name="attributeIdXAxis" id="attributeIdXAxisCrit" />
<input type="hidden" value="@Model.criteria.setIdXAxis" name="setIdXAxis" id="setIdXAxisCrit" />
<input type="hidden" value="@Model.criteria.onlyThisAttribute" name="onlyThisAttribute" id="onlyThisAttributeCrit" />
<input type="hidden" value="@Model.criteria.webDbId" name="webDbId" id="webDbIdCrit"/>


<div class="row">
    <div class="col">ID</div>
    <div class="col">CodeName</div>
    <div class="col">Hits</div>
</div>
@foreach (WebDbItemAttributeChildFrequency itm in Model.results)
{
    <div class="row">
        <div class="col">@(itm.AttributeId > 0 ? itm.AttributeId.ToString() : "-")</div>
        <div class="col">@itm.Attribute</div>
        <div class="col"><a href="javascript:GoToItems(@itm.AttributeId)">@itm.ItemCount</a></div>
    </div>
}