<!-- ItemList -->

@model ItemListWithCriteria
@using BusinessLibrary.BusinessClasses;
@using System.Text.Json;
@using System.Text.Json.Serialization;
<style>
    #ItemsGrid table {
        //background-color: yellow !important;
        //color: #00ff00 !important;
        table-layout: auto;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<script>
    @{var jdata = @Html.Raw(JsonSerializer.Serialize(Model.items));};
    var ListData = @jdata;
    var ColumnVisibility = {
            ItemId: false,
            ShortTitle: true,
            Title: true,
            Year: true,
            Authors: false,
            Journal: false
        };
    $(document).ready(function () {
        function onSelectColumnVisibility(e) {
            const txt = $(e.item).children(".k-link").text().trim();
            console.log("onSelectColumnVisibility", txt);
            if (txt == "Id") {
                ColumnVisibility.ItemId = !ColumnVisibility.ItemId;
                document.getElementById("cbItemId").checked = ColumnVisibility.ItemId;
            }
            else if (txt == "Short Title") {
                ColumnVisibility.ShortTitle = !ColumnVisibility.ShortTitle;
                document.getElementById("cbShortTitle").checked = ColumnVisibility.ShortTitle;
            }
            else if (txt == "Title") {
                ColumnVisibility.Title = !ColumnVisibility.Title;
                document.getElementById("cbTitle").checked = ColumnVisibility.Title;
            }
            else if (txt == "Year") {
                ColumnVisibility.Year = !ColumnVisibility.Year;
                document.getElementById("cbYear").checked = ColumnVisibility.Year;
            }
            else if (txt == "Authors") {
                ColumnVisibility.Authors = !ColumnVisibility.Authors;
                document.getElementById("cbAuthors").checked = ColumnVisibility.Authors;
            }
            else if (txt == "Journal") {
                ColumnVisibility.Journal = !ColumnVisibility.Journal;
                document.getElementById("cbJournal").checked = ColumnVisibility.Journal;
            }
            setColumns();
        };



        $(document).ready(function () {
            $("#menu").kendoMenu({
                select: onSelectColumnVisibility,
            });
            document.getElementById("cbItemId").checked = ColumnVisibility.ItemId;
            document.getElementById("cbShortTitle").checked = ColumnVisibility.ShortTitle;
            document.getElementById("cbTitle").checked = ColumnVisibility.Title;
            document.getElementById("cbYear").checked = ColumnVisibility.Year;
            document.getElementById("cbAuthors").checked = ColumnVisibility.Authors;
            document.getElementById("cbJournal").checked = ColumnVisibility.Journal;
            setColumns();
        });
        $("#ItemsGrid").kendoGrid({
            rowTemplate: kendo.template($("#ItemsGridTemplate").html()),
            columns: [
                {
                    field: "ItemId",
                    title: "Id",
                    width: "5%",
                    headerAttributes: {
                        "class": "ml-1 p-1 border-bottom"
                    }
                },
                {
                    field: "ShortTitle",
                    title: "Short title",
                    width: "10%",
                    headerAttributes: {
                        "class": "p-1 border-bottom"
                    }
                },
                {
                    field: "Title",
                    title: "Title",
                    width: "50%",
                    minResizableWidth: 100,
                    headerAttributes: {
                        "class": "p-1 border-bottom"
                    }
                },
                {
                    field: "Year",
                    title: "Year",
                    width: "5%",
                    headerAttributes: {
                        "class": "p-1 border-bottom"
                    }
                },
                {
                    field: "Authors",
                    title: "Authors",
                    width: "10%",
                    headerAttributes: {
                        "class": "p-1 border-bottom"
                    }
                },
                {
                    field: "ParentTitle",
                    title: "Journal",
                    width: "10%",
                    headerAttributes: {
                        "class": "p-1 border-bottom"
                    }
                }],
            dataSource: {
                data: ListData
            },

            //tableLayout: "auto",
            toolbar: ["search", "excel"],
            resizable: true,
            toolbar: [
                { template: kendo.template($("#gridToolbarTemplate").html()) }
            ],
            sortable: false,
            //mobile: "phone",
            search: {
                fields: ["Title", "Year", "ItemId", "ShortTitle", "Authors", "Journal"]
            }
        });
    });
    function QuickCitations() {
        var output = "";
        for (var itm of ListData) {
            output += "<p>" + itm.QuickCitation + "</p>";
        }
        $("#formattedCitations").html(output);
    }
    function setColumns() {
        console.log("setColumns", ColumnVisibility);
        var grid = $('#ItemsGrid').data('kendoGrid');
        if (ColumnVisibility.ItemId) {
            grid.showColumn(0);
        } else {
            grid.hideColumn(0);
        }
        if (ColumnVisibility.ShortTitle) {
            grid.showColumn(1);
        } else {
            grid.hideColumn(1);
        }
        if (ColumnVisibility.Title) {
            grid.showColumn(2);
        } else {
            grid.hideColumn(2);
        }
        if (ColumnVisibility.Year) {
            grid.showColumn(3);
        } else {
            grid.hideColumn(3);
        }
        if (ColumnVisibility.Authors) {
            grid.showColumn(4);
        } else {
            grid.hideColumn(4);
        }
        if (ColumnVisibility.Journal) {
            grid.showColumn(5);
        } else {
            grid.hideColumn(5);
        }
    }

</script>

<br />
<br />
<br />
<br />
<table width="100%">
    <tr>
        <td style="padding:0px 20px 0px 20px">
            <div class="main-panel main-panel-no-sidebar">



                <div class="card">
                    <div class="card-body">

                        <div class="content-full">

                            <table width="100%">
                                <tr>
                                    <td width="30%">
                                        <h5 class="card-title mb-3">List records</h5>
                                        <h5><b>@Model.criteria.description.Replace("\'", "&#39;")</b></h5>
                                    
                                    </td>    
                                    <td width="40%" style="vertical-align:bottom;text-align:center">

                                        @if (Model.items.PageCount > 1)
                                        {

                                        <form asp-controller="ItemList" asp-action="ListFromCrit" method="post" class="form-inline">

                                            <button class="btn btn-round btn-outline-primary px-1 py-0 m-1" style="width:90px" type="submit" disabled="@(Model.items.PageIndex == 0)"
                                                    name="PageNumber" value="@(Model.items.PageIndex - 1)">
                                                Previous
                                            </button>
                                            <div class="my-auto">&nbsp;&nbsp;Page @(Model.items.PageIndex + 1) of @(Model.items.PageCount)&nbsp;&nbsp;</div>
                                            <button class="btn btn-round btn-outline-primary px-1 py-0 m-1" style="width:90px" type="submit" disabled="@(Model.items.PageIndex == Model.items.PageCount - 1)"
                                                    name="PageNumber" value="@(Model.items.PageIndex + 1)">
                                                Next
                                            </button>

                                            <input type="hidden" value="@Model.criteria.onlyIncluded.ToString()" name="onlyIncluded" />
                                            <input type="hidden" value="@Model.criteria.showDeleted" name="showDeleted" />
                                            <input type="hidden" value="@Model.criteria.sourceId" name="sourceId" />
                                            <input type="hidden" value="@Model.criteria.searchId" name="searchId" />
                                            <input type="hidden" value="@Model.criteria.xAxisSetId" name="xAxisSetId" />
                                            <input type="hidden" value="@Model.criteria.xAxisAttributeId" name="xAxisAttributeId" />
                                            <input type="hidden" value="@Model.criteria.yAxisSetId" name="yAxisSetId" />
                                            <input type="hidden" value="@Model.criteria.yAxisAttributeId" name="yAxisAttributeId" />
                                            <input type="hidden" value="@Model.criteria.filterSetId" name="filterSetId" />
                                            <input type="hidden" value="@Model.criteria.filterAttributeId" name="filterAttributeId" />
                                            <input type="hidden" value="@Model.criteria.attributeSetIdList" name="attributeSetIdList" />
                                            <input type="hidden" value="@Model.criteria.listType" name="listType" />
                                            <input type="hidden" value="@Model.criteria.pageNumber" name="pageNumber" />
                                            <input type="hidden" value="@Model.criteria.pageSize" name="pageSize" />
                                            <input type="hidden" value="@Model.criteria.workAllocationId" name="workAllocationId" />
                                            <input type="hidden" value="@Model.criteria.magSimulationId" name="magSimulationId" />
                                            <input type="hidden" value="@Model.criteria.comparisonId" name="comparisonId" />
                                            <input type="hidden" value="@Model.criteria.description" name="description" />
                                            <input type="hidden" value="@Model.criteria.contactId" name="contactId" />
                                            <input type="hidden" value="@Model.criteria.setId" name="setId" />
                                            <input type="hidden" value="@Model.criteria.showInfoColumn" name="showInfoColumn" />
                                            <input type="hidden" value="@Model.criteria.showScoreColumn" name="showScoreColumn" />
                                            <input type="hidden" value="@Model.criteria.webDbId" name="webDbId" />
                                            <input type="hidden" value="@Model.criteria.withAttributesIds" name="withAttributesIds" />
                                            <input type="hidden" value="@Model.criteria.withSetIdsList" name="withSetIdsList" />
                                            <input type="hidden" value="@Model.criteria.withOutAttributesIdsList" name="withOutAttributesIdsList" />
                                            <input type="hidden" value="@Model.criteria.withOutSetIdsList" name="withOutSetIdsList" />
                                            <input type="hidden" value="@Model.criteria.searchWhat" name="searchWhat" />
                                            <input type="hidden" value="@Model.criteria.searchString" name="searchString" />


                                        </form>
                                        }
                                        else
                                        {
                                            <div class=" px-1 py-0 m-1">&nbsp;</div>
                                        }

                                        <!--
                                        @if (@Model.criteria.description != "")
                                        {
                                            <div class="ml-2 my-auto px-1 alert-light rounded">@Model.criteria.description</div>
                                        }
                                        -->
                                    </td>
                                    <td width="30%" style="text-align:right">

                                        <div class="d-inline-block ml-auto mr-0 border rounded" >
                                            <ul id="menu" class="d-inline-block p-0">
                                                <li class="py-1">
                                                    <span class="btn-label">
                                                        <i class="fa fa-table"></i>
                                                    </span>
                                                    &nbsp;&nbsp;Columns&nbsp;&nbsp;
                                                    <ul>
                                                        <li>
                                                            <input type="checkbox" class="ml-1" id="cbItemId" />&nbsp;&nbsp;Id
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="ml-1" id="cbShortTitle" />&nbsp;&nbsp;Short Title
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="ml-1" id="cbTitle" />&nbsp;&nbsp;Title
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="ml-1" id="cbYear" />&nbsp;&nbsp;Year
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="ml-1" id="cbAuthors" />&nbsp;&nbsp;Authors
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="ml-1" id="cbJournal" />&nbsp;&nbsp;Journal
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            
                                

                                

                                
                            


                            <div class="card-body">

                                <div id="ItemsGrid" class="table-striped" style="height:85vh;">
                                </div>

                                <script id="ItemsGridTemplate" type="text/x-kendo-tmpl">
                                    <table>
                                        <tr class="border border-bottom ">
                                            <td class="px-1 py-0 border-bottom small ">
                                                <form action="ItemDetails" method="post" class="form-inline">
                                                    <button class="btn btn-link px-1 py-0 my-1 mx-0" type="submit"
                                                            name="itemId" value="#= ItemId #">
                                                        #= ItemId #
                                                    </button>
                                                </form>
                                            </td>
                                            <td class="px-1 py-0 border-bottom small ">
                                                #= ShortTitle #
                                            </td>
                                            <td class="px-1 py-0 border-bottom ">
                                                <form action="ItemDetails" method="post" class="form-inline">
                                                    <button class="text-left btn-link px-1 py-0 my-1 mx-0" type="submit" style="overflow: !important;"
                                                            name="itemId" value="#= ItemId #">
                                                        #= Title #
                                                    </button>
                                                </form>
                                            </td>
                                            <td class="px-1 py-0 border-bottom small ">
                                                #= Year #
                                            </td>
                                            <td class="px-1 py-0 border-bottom small ">
                                                #= Authors #
                                            </td>
                                            <td class="px-1 py-0 border-bottom small ">
                                                #= ParentTitle #
                                            </td>
                                        </tr>
                                    </table>
                                </script>

                                
                                <script id="gridToolbarTemplate" type="text/x-kendo-template">
                                    <a class="k-button btn-round btn-info btn-border" href="\#" onclick="return QuickCitations()">
                                        <span class="btn-label">
                                            <i class="fa fa-pencil-alt"></i>
                                        </span>&nbsp;&nbsp;Citations&nbsp;
                                    </a>

                                    <a class="k-button k-button-icontext k-grid-excel btn-round btn-info btn-border" href="\#">
                                        <span class="btn-label">
                                            <i class="fa fa-file-excel"></i>
                                        </span>&nbsp;&nbsp;Excel&nbsp;
                                    </a>

                                    <span class="k-textbox k-grid-search k-display-flex m-0 p-0 small">
                                        <input autocomplete="off" placeholder="Filter..." title="Filter..." class="k-input px-1">
                                        <span class="k-input-icon">
                                            <span class="k-icon k-i-search"></span>
                                        </span>
                                    </span>
                                </script>

                            </div>


                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <div id="formattedCitations"></div>
                    </div>
                </div>



            </div>
        </td>
    </tr>
</table>


