@model WebDatabasesMVC.ViewModels.FullItemDetails;
@using WebDatabasesMVC.ViewModels;
@using BusinessLibrary.BusinessClasses;
@{
    Item itm = Model.Item;
}
<script type="text/javascript">
    function toggleDetails() {
        //alert('oooo');
        if (!$) console.log("no jquery???");
        else console.log("we do have jquery");
        $(document).find('.showhide1').toggle(100);
        $(document).find('.showhide2').toggle(100);
    }
</script>
<div class="main-panel main-panel-no-sidebar">
    <div class="content-full">
        <div class="row col-12 p-1 m-1 mt-2 bg-light">

            <div class="row col-12"><h4>@itm.Title</h4></div>
            <div class="row col-12 border-top  ml-0 pl-0">
                <b>Abstract:&nbsp;</b>
                <text class="bg-white">@itm.Abstract</text>
            </div>

            <div class="row w-100 p-0 m-0 border-bottom   ">
                <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Author(s) </div>
                <div class="col p-1 m-1 bg-white">
                    @itm.Authors
                </div>
            </div>
            <div class="row w-100 p-0 m-0 border-bottom   ">
                <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">@Model.FieldNameForThisByPubType("ParentTitle")</div>
                <div class="col p-1 m-1 bg-white">
                    @itm.ParentTitle
                </div>
            </div>
            <div class="row w-100 p-0 my-0 mx-auto btn btn-link showhide2" onclick="toggleDetails()">
                Show details
            </div>
            <div class="showhide1" style="display:none;">
                <div class="row w-100 p-0 m-0 btn btn-link " onclick="toggleDetails()">
                    Hide details
                </div>
                <div class="row w-100 p-0 m-0 border-bottom">
                    <div class="col-4 row p-0 m-0">
                        @if (itm.IsDupilcate)
                        {
                            <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Item is duplicate of</div>
                            <div class="col p-1 m-1 bg-white">@itm.MasterItemId</div>
                        }
                        else if (itm.ItemStatus == "I")
                        {
                            <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Item is</div>
                            <div class="col p-1 m-1 bg-white">Included</div>
                        }
                        else if (itm.ItemStatus == "E")
                        {
                            <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Item is</div>
                            <div class="col p-1 m-1 bg-white">Excluded</div>
                        }
                        else if (itm.ItemStatus == "D")
                        {
                            <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Item is</div>
                            <div class="col p-1 m-1 bg-white">Deleted</div>
                        }
                        else if (itm.ItemStatus == "S")
                        {
                            <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Item is</div>
                            <div class="col p-1 m-1 bg-white">Part of a Deleted Source</div>
                        }

                    </div>
                    <div class="col-4 row p-0 m-0">
                        <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:20px;">ID</div>
                        <div class="col p-1 m-1 bg-white font-weight-bold">@itm.ItemId</div>
                    </div>
                    <div class="col-4 row p-0 m-0">
                        <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Imported ID</div>
                        <div class="col p-1 m-1 bg-white">@itm.OldItemId</div>
                    </div>
                </div>
                <div class="row w-100 p-0 m-0 border-bottom  ">
                    <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">@Model.FieldNameForThisByPubType("parentAuthors")</div>
                    <div class="col p-1 m-1 bg-white">
                        @itm.ParentAuthors
                    </div>
                </div>
                <div class="row w-100 p-0 m-0 border-bottom  ">
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Year</div>
                        <div class="col p-1 m-1 bg-white">
                            @itm.Year
                        </div>
                    </div>
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">@Model.FieldNameForThisByPubType("StandardNumber")</div>
                        <div class="col p-1 m-1 bg-white">
                            @itm.StandardNumber
                        </div>
                    </div>
                </div>
                <div class="row w-100 p-0 m-0 border-bottom  ">
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Short Title</div>
                        <div class="col p-1 m-1 bg-white font-weight-bold">
                            @itm.ShortTitle
                        </div>
                    </div>
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Pages</div>
                        <div class="col p-1 m-1 bg-white">
                            @itm.Pages
                        </div>
                    </div>
                </div>
                <div class="row w-100 p-0 m-0 border-bottom  ">
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Volume</div>
                        <div class="col p-1 m-1 bg-white">
                            @itm.Volume
                        </div>
                    </div>
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Issue</div>
                        <div class="col p-1 m-1 bg-white">
                            @itm.Issue
                        </div>
                    </div>
                </div>
                <div class="row w-100 p-0 m-0 border-bottom">
                    @if (Model.URLLink() == "")
                    {
                        <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">
                            Url
                        </div>
                    }
                    else
                    {
                        <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">
                            <a href="@Model.URLLink()" target="_blank">Url</a>
                        </div>
                    }
                    <div class="col p-1 m-1 bg-white text-nowrap" style="overflow:auto">
                        @itm.URL
                    </div>
                </div>
                <div class="row w-100 p-0 m-0 border-bottom  ">
                    <div class="w-50 row p-0 m-0">

                        @if (Model.DOILink() == "")
                        {
                            <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">
                                DOI
                            </div>
                        }
                        else
                        {
                            <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">
                                <a href="@Model.DOILink()" target="_blank">DOI</a>
                            </div>
                        }

                        <div class="col p-1 m-1 bg-white ">
                            @itm.DOI
                        </div>
                    </div>
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 mt-1" style="min-width:90px;">Availability</div>
                        <div class="col p-1 m-1 bg-white">
                            @itm.Availability
                        </div>
                    </div>
                </div>
                <div class="row w-100 p-0 m-0 border-bottom  ">
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 " style="min-width:90px;">Edition</div>
                        <div class="col p-1 m-1 bg-white">
                            @itm.Edition
                        </div>
                    </div>
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 " style="min-width:90px;">Publisher</div>
                        <div class="col p-1 m-1 bg-white">
                            @itm.Publisher
                        </div>
                    </div>
                </div>
                <div class="row w-100 p-0 m-0 border-bottom  ">
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 " style="min-width:90px;">Month</div>
                        <div class="col p-1 m-1 bg-white">
                            @itm.Month
                        </div>
                    </div>
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 " style="min-width:90px;">City</div>
                        <div class="col p-1 m-1 bg-white">
                            @itm.City
                        </div>
                    </div>
                </div>
                <div class="row w-100 p-0 m-0 border-bottom  ">
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 " style="min-width:90px;">Country</div>
                        <div class="col p-1 m-1 bg-white">
                            @itm.Country
                        </div>
                    </div>
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 " style="min-width:90px;">Institution</div>
                        <div class="col p-1 m-1 bg-white">
                            @itm.Institution
                        </div>
                    </div>
                </div>
                <div class="row w-100 p-0 m-0 border-bottom  ">
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Comments</div>
                        <div class="col p-1 m-1 bg-white" style="max-height:120px; overflow-y:auto;">
                            @itm.Comments
                        </div>
                    </div>
                    <div class="w-50 row p-0 m-0">
                        <div class="p-1 ml-1 mt-1 font-weight-bold" style="min-width:90px;">Keywords</div>
                        <div class="col p-1 m-1 bg-white" style="max-height:120px; overflow-y:auto;">
                            @itm.Keywords
                        </div>
                    </div>
                </div>
                <div class="row w-100 p-0 m-0 small">
                    <div class="col-3 row p-0 m-0 font-weight-bold">
                        Created by: @itm.CreatedBy
                    </div>
                    <div class="col-3 row p-0 m-0 ">
                        Created on: @itm.DateCreated
                    </div>
                    <div class="col-3 row p-0 m-0 font-weight-bold">
                        Edited by: @itm.EditedBy
                    </div>
                    <div class="col-3 row p-0 m-0 ">
                        Edited on: @itm.DateEdited
                    </div>
                </div>
                <div class="row w-100 p-0 m-0 small">
                    @if (@Model.Source != null && @Model.Source.Source_ID > 0)
                    {
                        <div class="col-6 row p-0 m-0 font-weight-bold">
                            Source: @Model.Source.Source_Name
                        </div>
                    }
                    else
                    {
                        <div class="col-6 row p-0 m-0 font-weight-bold">
                            Source: N/A
                        </div>
                    }
                    @if (Model.Duplicates != null && Model.Duplicates.Count > 0)
                    {
                        <div class="col-6 row py-0 pl-1 pr-0 m-0 ">
                            Duplicate IDs:
                            @foreach (ItemDuplicatesReadOnly dup in Model.Duplicates)
                            {
                                <span class="rounded alert-danger ml-1">
                                    @dup.ItemId
                                </span>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="col-6 row p-0 m-0 ">
                            Duplicate IDs: N/A
                        </div>
                    }
                </div>
            </div>

        </div>
        <form asp-controller="Coding" asp-action="FetchItemCodingJSON">
            <input type="hidden" value="@itm.ItemId" name="ItemId" />
            <button type="submit">Get CodingJSon</button>
        </form>
        <button onclick="GetCodingReport(@itm.ItemId)">Get Coding report</button>
        <div id="CodingReport"></div>
    </div>
    
    <script type="text/javascript">
        function GetCodingReport(itemId) {
            $.post("../Coding/FetchItemCodingJSON"
                , { ItemId: itemId }
                , function (data, result) { AddCodingToReport(data, result); }
            );
        }
        function AddCodingToReport(data, result) {
            console.log("AddCodingToReport", data, result);
            if (result != "success") return;
            let CodingReport = "";
            for (let i = 0; i < data.reviewSets.length; i++) {
                let reviewSet = data.reviewSets[i];
                for (let itemSet of data.itemSetList) {
                    if (itemSet.setId == data.reviewSets[i].setId && itemSet.isCompleted == true) {
                        //CodingReport += "<br /><h6>Reviewer: " + itemSet.contactName + "</h6>";

                        if (reviewSet != null) {
                            CodingReport += "<p><h4>" + reviewSet.setName + "</h4></p><p><ul>";
                            for (let attributeSet of reviewSet.attributes.attributesList) {
                                //console.log("about to go into writeCodingReportAttributesWithArms", itemSet, attributeSet);
                                CodingReport += this.writeCodingReportAttributesWithArms(itemSet, attributeSet);
                            }
                            CodingReport += "</ul></p>";
                            //console.log("about to go into OutcomesTable", itemSet.outcomeItemList.outcomesList);
                            //CodingReport += "<p>" + this.OutcomesTable(itemSet.OutcomeList) + "</p>";
                        }

                    }
                }
            }
            $("#CodingReport").html(CodingReport);
        }
        function writeCodingReportAttributesWithArms(itemSet, attributeSet) {
            let report = "";
            let roias = itemSet.itemAttributesList.filter(found => found.attributeId == attributeSet.attributeId);
            console.log("roias", roias, itemSet.itemAttributesList, attributeSet.attributeId);
            if (roias != null && roias.length > 0) {
                for (let roia of roias) {
                    let AttributeName = attributeSet.attributeName;
                    if (roia.armId != 0) {
                        AttributeName += " [" + roia.armTitle + "]";
                    }

                    report += '<li class="text-success"><span class="font-weight-bold">' + AttributeName + "</span>";
                    if (roia.additionalText.length > 0) report += "<br /><i>" + roia.additionalText.replace("\n", "<br />") + "</i>";
                    if (roia.itemAttributeFullTextDetails != null && roia.itemAttributeFullTextDetails.length > 0) {

                        report += this.addFullTextToComparisonReport(roia.itemAttributeFullTextDetails);
                    }
                    report += "</li>";
                }
                if (this.CodingReportCheckChildSelected(itemSet, attributeSet) == true) // ie an attribute below this is selected, even though this one isn't
                {
                    report += "<ul>";
                    for (let child of attributeSet.attributes.attributesList) {
                        report += this.writeCodingReportAttributesWithArms(itemSet, child);
                    }
                    report += "</ul>";
                }
            }
            else {
                if (this.CodingReportCheckChildSelected(itemSet, attributeSet) == true) // ie an attribute below this is selected, even though this one isn't
                {
                    report += '<li class="text-muted">' + attributeSet.attributeName + "</li>";
                    report += "<ul>";
                    for (let child of attributeSet.attributes.attributesList) {
                        report += this.writeCodingReportAttributesWithArms(itemSet, child);
                    }
                    report += "</ul>";
                }
            }
            console.log("Single rep:", report);
            return report;
        }
        function CodingReportCheckChildSelected(itemSet, attributeSet) {
            if (itemSet) {
                for (let roia of itemSet.itemAttributesList) {
                    if (roia.attributeId == attributeSet.attributeId) return true;
                }
                for (let child of attributeSet.attributes.attributesList) {
                    if (this.CodingReportCheckChildSelected(itemSet, child) == true) {
                        //console.log("found a child:", itemSet, attributeSet);
                        return true;
                    }
                }
            }
            //console.log("found nothing:", itemSet, attributeSet);
            return false;
        }
    </script>
</div>
