<!-- DHSC Home -->
@model WebDbWithRevInfo;
@using WebDatabasesMVC.ViewModels;
@using Microsoft.AspNetCore.Html;
@using System.IO;
@using System.Security.Claims;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;

@{
    Claim WebDbIDclaim = User.FindFirst("WebDbID");
    string imgPath1 = "";
    string imgPath2 = "";
    bool smallPhone = false;

    //string imgMapPath1 = "";
    if (WebDbIDclaim != null)
    {
        var service = Context.RequestServices.GetService(typeof(Microsoft.AspNetCore.Hosting.IWebHostEnvironment)) as Microsoft.AspNetCore.Hosting.IWebHostEnvironment;
        string absolutePath = service.WebRootPath + "\\HeaderImages\\";
        if (System.IO.File.Exists(absolutePath + "Img-" + WebDbIDclaim.Value + "-1.jpg")) imgPath1 = Url.Content("~/HeaderImages/Img-" + WebDbIDclaim.Value + "-1.jpg");
        else if (System.IO.File.Exists(absolutePath + "Img-" + WebDbIDclaim.Value + "-1.png")) imgPath1 = Url.Content("~/HeaderImages/Img-" + WebDbIDclaim.Value + "-1.png");
        if (System.IO.File.Exists(absolutePath + "Img-" + WebDbIDclaim.Value + "-2.jpg")) imgPath2 = Url.Content("~/HeaderImages/Img-" + WebDbIDclaim.Value + "-2.jpg");
        else if (System.IO.File.Exists(absolutePath + "Img-" + WebDbIDclaim.Value + "-2.png")) imgPath2 = Url.Content("~/HeaderImages/Img-" + WebDbIDclaim.Value + "-2.png");
        //if (System.IO.File.Exists(absolutePath + "ImgMap-" + WebDbIDclaim.Value + "-1.jpg")) imgMapPath1 = Url.Content("~/HeaderImages/ImgMap-" + WebDbIDclaim.Value + "-1.jpg");
        //else if (System.IO.File.Exists(absolutePath + "ImgMap-" + WebDbIDclaim.Value + "-1.png")) imgMapPath1 = Url.Content("~/HeaderImages/ImgMap-" + WebDbIDclaim.Value + "-1.png");
    }
}


<style>
    .fieldlist {
        margin: 0 0 -1em;
        padding: 0;
        color: black;
    }

    .fieldlist li {
        list-style: none;
        padding-bottom: 1em;
        color:black;
      
    }

    .disabledFilterDiv {
        pointer-events: none;
        opacity: 0.4;
    }

</style>


<script>



    // declare some global variables
    var documentData;
    var SavedCodingData = [];

    var visualHTML = "";
    var globalCounter = 0;
    var attributeIdFilter = 0;

    // slider settings
    var costMin = 0;
    var costMax = 3;
    var evidenceMin = 0;
    var evidenceMax = 4;

    // checkbox settings
    var cbOutcomes = "";
    var cbInterventions = "";
    var cbPreventionTypes = "";

    var searchFor = "";

    // default colours blueish tints of #68b4f2
    var topColour = "#a4d2f7";
    var botColour = "#d1e8fb";
    var offIcons = "#68b4f2";
    var headerSectionColour = "background: linear-gradient(to right, #0099ff 0%, #3366cc 100%);";

    var costslider;


    $(document).ready(function () {
        const descrPanel = $("#WebDBDescription");
        if (sessionStorage.getItem("HideShowDescription") == "Yes") {
            $("#ExpandDescription").hide();
            $("#ReduceDescription").hide();
            $("#WebDBDescriptionBody").hide();
            $("#ShowHideDescriptionDivIcon")[0].className = "fa fa-plus";
        }
        else {
            if (descrPanel && descrPanel.height() > 300) {
                //ExpandDescription ReduceDescription
                $("#ExpandDescription").show();
                $("#ReduceDescription").hide();
                $("#HideDescriptionDiv").show();
                $("#ShowDescriptionDiv").hide();
                descrPanel.css("max-height", "250px");
            } else {
                $("#ExpandDescription").hide();
                $("#ReduceDescription").hide();
            }
        }


        // reset variables on document load
        visualHTML = "";
        globalCounter = 0;
        costMin = 0;
        costMax = 3;
        evidenceMin = 0;
        evidenceMax = 4;
        cbOutcomes = "";
        cbInterventions = "";
        cbPreventionTypes = "";
        searchFor = "";


        $("#smallPhoneButton").hide();
        if ($(window).outerWidth() <= 325) {
            $("#smallPhoneButton").show();
        }


        if (sessionStorage.getItem("ColourThemeSet") == "Yes") {
            var colourTheme = sessionStorage.getItem("ColourTheme")
            var element = document.getElementById("headerDiv");

            switch (colourTheme) {

                case '1': // blueish Tints of #68b4f2
                    topColour = "#a4d2f7";
                    botColour = "#d1e8fb";
                    offIcons = "#68b4f2";                                  
                    headerSectionColour = "linear-gradient(to right, #0099ff 0%, #3366cc 100%)";
                    break;

                case '2': // reddish like YEF
                    topColour = "#f8cbc7";
                    botColour = "#fbe2e0";
                    offIcons = "#f0847b";
                    headerSectionColour = "linear-gradient(to right, #ff6666 0%, #ff0000 100%)";
                    break;

                case '3': // greenish Tints of #57bc40
                    topColour = "#9ad68c";
                    botColour = "#cceac5";
                    offIcons = "#57bc40";
                    headerSectionColour = "linear-gradient(to right, #33cc33 0%, #009900 100%)";
                    break;

                case '4': // orangish Tints of #ffb558
                    topColour = "#ffd29a";
                    botColour = "#ffe8cc";
                    offIcons = "#ffb558";
                    headerSectionColour = "linear-gradient(to right, #ffcc00 0%, #ff9900 100%)";
                    break;

                case '5': // purplish Tints of #7770d3
                    topColour = "#ada9e4";
                    botColour = "#d6d4f1";
                    offIcons = "#7770d3";
                    headerSectionColour = "linear-gradient(to right, #9966ff 0%, #6600ff 100%)";
                    break;

                default:
                    break;
            }
            element.style["background"] = headerSectionColour;
        } 

        GetDocumentAndCodingData();

        BuildSliderFilters();

        //costslider = $("#costSlider").data("kendoSlider");
        //costslider.enable(false);
    });

    function GoToDHSCItemDetails(ItemId) {

        let pars = { itemID: ItemId, itemIds: attributeIdFilter };
        postwith("../ItemList/DHSCItemDetails", pars);

    };


    function enableSearch() {
        if (document.getElementById("SearchString").value === "") {
            document.getElementById('searchButton').disabled = true;
        } else {
            document.getElementById('searchButton').disabled = false;
        }
    }


    function searchRecords(searchString) 
    {
        console.log("search", searchString.value);
        searchFor = searchString.value;

        // on a search we want to clear all of the filters
        // as the search is on everything.

        costMin = 0;
        costMax = 3;
        evidenceMin = 0;
        evidenceMax = 4;
        cbOutcomes = "";
        cbInterventions = "";
        cbPreventionTypes = "";

        visualHTML = "";
        globalCounter = 0;

        //itemData(documentData, "success");
        updateByFilter();

        //$.post("../ItemList/GetFreqListJSon"
        //    , { attId: attributeIdFilter, attName: 'test' }
        //    , function (data, result) { itemData(data, result); }
        //);


    }

    function changeColour(value) {
        var element = document.getElementById("headerDiv");
        switch (value) {

            case '1': // blueish Tints of #68b4f2
                topColour = "#a4d2f7";
                botColour = "#d1e8fb";
                offIcons = "#68b4f2";
                headerSectionColour = "linear-gradient(to right, #0099ff 0%, #3366cc 100%)";
                break;

            case '2': // reddish like YEF
                topColour = "#f8cbc7";
                botColour = "#fbe2e0";
                offIcons = "#f0847b";
                headerSectionColour = "linear-gradient(to right, #ff6666 0%, #ff0000 100%)";
                break;

            case '3': // greenish Tints of #57bc40
                topColour = "#9ad68c";
                botColour = "#cceac5";
                offIcons = "#57bc40";
                headerSectionColour = "linear-gradient(to right, #33cc33 0%, #009900 100%)";
                break;

            case '4': // orangish Tints of #ffb558
                topColour = "#ffd29a";
                botColour = "#ffe8cc";
                offIcons = "#ffb558";
                headerSectionColour = "linear-gradient(to right, #ffcc00 0%, #ff9900 100%)";
                break;

            case '5': // purplish Tints of #7770d3
                topColour = "#ada9e4";
                botColour = "#d6d4f1";
                offIcons = "#7770d3";
                headerSectionColour = "linear-gradient(to right, #9966ff 0%, #6600ff 100%)";
                break;

            default:
                break;           
        }

        element.style["background"] = headerSectionColour;
        sessionStorage.setItem("ColourThemeSet", "Yes");
        sessionStorage.setItem("ColourTheme", value);

        var element = document.getElementById("SearchString");
        element.value = "";
        searchFor = "";
        visualHTML = "";
        globalCounter = 0;

        //itemData(documentData, "success");
        updateByFilter();

        //$.post("../ItemList/GetFreqListJSon"
        //    , { attId: attributeIdFilter, attName: 'test' }
        //    , function (data, result) { itemData(data, result); }
        //);
    }


    function BuildSliderFilters() {

        $("#costSlider").kendoRangeSlider({
            change: costRangeSliderOnChange,
            //slide: costRangeSliderOnSlide,
            min: 0,
            max: 3,
            smallStep: 1,
            largeStep: 1
        });


        $("#evidenceSlider").kendoRangeSlider({
            change: evidenceRangeSliderOnChange,
            //slide: evidenceRangeSliderOnSlide,
            min: 0,
            max: 4,
            smallStep: 1,
            largeStep: 1
        });

    }

    function costRangeSliderOnSlide(e) {
        console.log("Slide :: new slide values are: " + e.value.toString().replace(",", " - "));
        let pos = e.value.toString().indexOf(',');
        costMin = e.value.toString().substring(0,pos);
        costMax = e.value.toString().substring(pos+1);

        var element = document.getElementById("SearchString");
        element.value = "";
        searchFor = "";
        visualHTML = "";
        globalCounter = 0;

        // disable slider div      
        var element = document.getElementById("filterDiv");
        element.classList.add("disabledFilterDiv");
        
        //itemData(documentData, "success");
        updateByFilter();

        //$.post("../ItemList/GetFreqListJSon"
        //    , { attId: attributeIdFilter, attName: 'test' }
        //    , function (data, result) { itemData(data, result); }
        //);
    }

    function costRangeSliderOnChange(e) {
        console.log("Change :: new values are: " + e.value.toString().replace(",", " - "));
        let pos = e.value.toString().indexOf(',');
        costMin = e.value.toString().substring(0, pos);
        costMax = e.value.toString().substring(pos+1);

        var element = document.getElementById("SearchString");
        element.value = "";
        searchFor = "";
        visualHTML = "";
        globalCounter = 0;

        // disable slider div
        var element = document.getElementById("filterDiv");
        element.classList.add("disabledFilterDiv");
        // disable checkbox div
        var element1 = document.getElementById("outcomesFilterDiv");
        element1.classList.add("disabledFilterDiv");
        var element2 = document.getElementById("themesFilterDiv");
        element2.classList.add("disabledFilterDiv");
        var element3 = document.getElementById("preventionFilterDiv");
        element3.classList.add("disabledFilterDiv");


        //itemData(documentData, "success");
        updateByFilter();

        //$.post("../ItemList/GetFreqListJSon"
        //    , { attId: attributeIdFilter, attName: 'test' }
        //    , function (data, result) { itemData(data, result); }
        //);
    }

    function evidenceRangeSliderOnSlide(e) {
        console.log("Slide :: new slide values are: " + e.value.toString().replace(",", " - "));
        let pos = e.value.toString().indexOf(',');
        evidenceMin = e.value.toString().substring(0, pos);
        evidenceMax = e.value.toString().substring(pos+1);

        var element = document.getElementById("SearchString");
        element.value = "";
        searchFor = "";
        visualHTML = "";
        globalCounter = 0;

        // disable slider div
        var element = document.getElementById("filterDiv");
        element.classList.add("disabledFilterDiv");

        //itemData(documentData, "success");
        updateByFilter();

        //$.post("../ItemList/GetFreqListJSon"
        //    , { attId: attributeIdFilter, attName: 'test' }
        //    , function (data, result) { itemData(data, result); }
        //);
    }

    function evidenceRangeSliderOnChange(e) {
        console.log("Change :: new values are: " + e.value.toString().replace(",", " - "));
        let pos = e.value.toString().indexOf(',');
        evidenceMin = e.value.toString().substring(0, pos);
        evidenceMax = e.value.toString().substring(pos+1);

        var element = document.getElementById("SearchString");
        element.value = "";
        searchFor = "";
        visualHTML = "";
        globalCounter = 0;

        // disable slider div
        var element = document.getElementById("filterDiv");
        element.classList.add("disabledFilterDiv");
        // disable checkbox div
        var element1 = document.getElementById("outcomesFilterDiv");
        element1.classList.add("disabledFilterDiv");
        var element2 = document.getElementById("themesFilterDiv");
        element2.classList.add("disabledFilterDiv");
        var element3 = document.getElementById("preventionFilterDiv");
        element3.classList.add("disabledFilterDiv");

        //itemData(documentData, "success");
        updateByFilter();

        //$.post("../ItemList/GetFreqListJSon"
        //    , { attId: attributeIdFilter, attName: 'test' }
        //    , function (data, result) { itemData(data, result); }
        //);
    }

    function filterToggle(divName) {
        var x = document.getElementById(divName);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function cbOutcomesChange(cbName, value) {
        var x = document.getElementById(cbName);
        if (x.checked == true) {
            cbOutcomes += value;
        }
        else {
            cbOutcomes = cbOutcomes.replace(value, '');
        }
        console.log("cbOutcomes", cbOutcomes);

        var element = document.getElementById("SearchString");
        element.value = "";
        searchFor = "";
        visualHTML = "";
        globalCounter = 0;

        // disable slider div
        var element = document.getElementById("filterDiv");
        element.classList.add("disabledFilterDiv");
        // disable checkbox div
        var element1 = document.getElementById("outcomesFilterDiv");
        element1.classList.add("disabledFilterDiv");
        var element2 = document.getElementById("themesFilterDiv");
        element2.classList.add("disabledFilterDiv");
        var element3 = document.getElementById("preventionFilterDiv");
        element3.classList.add("disabledFilterDiv");
        

        //itemData(documentData, "success");
        updateByFilter();

        //$.post("../ItemList/GetFreqListJSon"
        //    , { attId: attributeIdFilter, attName: 'test' }
        //    , function (data, result) { itemData(data, result); }
        //);
    }

    function cbInterventionsChange(cbName, value) {
        var x = document.getElementById(cbName);
        if (x.checked === true) {
            cbInterventions += value;            
        }
        else {
            cbInterventions = cbInterventions.replace(value, '');
        }
        console.log("cbInterventions", cbInterventions);

        var element = document.getElementById("SearchString");
        element.value = "";
        searchFor = "";
        visualHTML = "";
        globalCounter = 0;

        // disable slider div
        var element = document.getElementById("filterDiv");
        element.classList.add("disabledFilterDiv");
        // disable checkbox div
        var element1 = document.getElementById("outcomesFilterDiv");
        element1.classList.add("disabledFilterDiv");
        var element2 = document.getElementById("themesFilterDiv");
        element2.classList.add("disabledFilterDiv");
        var element3 = document.getElementById("preventionFilterDiv");
        element3.classList.add("disabledFilterDiv");
        
        //itemData(documentData, "success");
        updateByFilter();

        //$.post("../ItemList/GetFreqListJSon"
        //    , { attId: attributeIdFilter, attName: 'test' }
        //    , function (data, result) { itemData(data, result); }
        //);
    }

    function cbPreventionTypesChange(cbName, value) {
        var x = document.getElementById(cbName);
        if (x.checked == true) {
            cbPreventionTypes += value;
        }
        else {
            cbPreventionTypes = cbPreventionTypes.replace(value, '');
        }

        console.log("cbPreventionTypes", cbPreventionTypes);

        var element = document.getElementById("SearchString");
        element.value = "";
        searchFor = "";
        visualHTML = "";
        globalCounter = 0;

        // disable slider div
        var element = document.getElementById("filterDiv");
        element.classList.add("disabledFilterDiv");
        // disable checkbox div
        var element1 = document.getElementById("outcomesFilterDiv");
        element1.classList.add("disabledFilterDiv");
        var element2 = document.getElementById("themesFilterDiv");
        element2.classList.add("disabledFilterDiv");
        var element3 = document.getElementById("preventionFilterDiv");
        element3.classList.add("disabledFilterDiv");
        
        //itemData(documentData, "success");
        updateByFilter();

        //$.post("../ItemList/GetFreqListJSon"
        //    , { attId: attributeIdFilter, attName: 'test' }
        //    , function (data, result) { itemData(data, result); }
        //);
    }

    function ToggleDescrPanelSize() {
        const descrPanel = $("#WebDBDescription");
        if (descrPanel) {
            if (descrPanel.css("max-height") == "250px") {
                descrPanel.css("max-height", "");
            }
            else {
                descrPanel.css("max-height", "250px");
            }
            $("#ExpandDescription").toggle();
            $("#ReduceDescription").toggle();
        }
    }

    function HideShowDescriptionDiv() {
        const descrPanel = $("#WebDBDescription");
        const descrShowHideIcon = $("#ShowHideDescriptionDivIcon");
        if (descrPanel) {
            descrPanel.css("max-height", "250px");
            if (descrShowHideIcon[0].className == "fa fa-plus") {
                $("#ExpandDescription").show();
                $("#ReduceDescription").hide();
                $("#WebDBDescriptionBody").show();
                $("#ShowHideDescriptionDivIcon")[0].className = "fa fa-minus";
                sessionStorage.setItem("HideShowDescription", "No");
            }
            else {
                $("#ExpandDescription").hide();
                $("#ReduceDescription").hide();
                $("#WebDBDescriptionBody").hide();
                $("#ShowHideDescriptionDivIcon")[0].className = "fa fa-plus";
                sessionStorage.setItem("HideShowDescription", "Yes");
            }
        }
    }


    function HideShowPublicationDiv() {
        if ("#publicationDiv") {
            if (HideShowPublicationDivIcon.className == "fa fa-plus") {
                $("#publicationDiv").show();
                HideShowPublicationDivIcon.className = "fa fa-minus";
                $("#publicationDiv").css("max-height", "1000px");
                $("#YearFreq").show();
                $("#YearFreqTable").show();
                if (YearFreqTable.disabled == false) {
                    $("#BarByYearChartVisible").show();
                }
            }
            else {
                $("#publicationDiv").hide();
                HideShowPublicationDivIcon.className = "fa fa-plus";
                $("#publicationDiv").css("max-height", "0px");
                $("#YearFreq").hide();
                $("#YearFreqTable").hide();
                $("#BarByYearChartVisible").hide();
            }
        }
    }


    function GetDocumentAndCodingData() {      
        @{
            var jdata = @Html.Raw(JsonConvert.SerializeObject(Model, new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() }));
        };
        var ListData = @jdata;
        console.log("webDbData", ListData);
        attributeIdFilter = ListData.webDb.attributeIdFilter;

        $.post("../ItemList/GetFreqListJSon"
            , { attId: attributeIdFilter, attName: 'test' }
            , function (data, result) { itemData(data, result); }
        );      
    }


    async function itemData(data, result) {
        if (result == "success") {
            documentData = data;
            console.log("documentData", documentData, result);


            for (var i = 0; i < documentData.items.totalItemCount; i++) {
                await $.post("../Coding/FetchItemCodingJSON"
                    , { ItemId: documentData.items.items[i].itemId }
                    , function (data, result) {                      
                        buildArrayOfCodingData(data, result, i);
                    }
                );
            }
        }
        else {
            console.log("error", "unable to get data");
        }
    }

    function buildArrayOfCodingData(codingData, result, i) {
        if (result == "success") {
            SavedCodingData.push(codingData);
            //var jat = $("#justATest");
            //if (jat) jat.html("Coding data count:" + SavedCodingData.length.toString());
            buildCard(SavedCodingData[i], result, i);
        }
    }

    function updateByFilter() {
        for (var i = 0; i < documentData.items.totalItemCount; i++) {
            buildCard(SavedCodingData[i], "success", i);
        }
    }


    function buildCard(codingData, result, i) {
        if (result == "success") 
        {
            console.log("codingData", codingData, result);         

            var studyTitle = documentData.items.items[i].title;
            var studyAbstract = documentData.items.items[i].abstract;
            var itemId = documentData.items.items[i].itemId;

            var costValue = "?";
            var costIcon = "";
            var evidenceQualityValue = "?";
            var evidenceQualityIcon = "";
            var reviewSizeValue = "?";
            var reviewSizeIcon = "";
            var outcomes1Value = "?";
            var outcomeNumber = "";
            var outcomes1ImpactValue = "?";
            var outcomes2Value = "?";
            var outcomes2ImpactValue = "?";
            var outcomes3Value = "?";
            var outcomes3ImpactValue = "?";
            var impact1Number = "?";
            var impact2Number = "?";
            var impact3Number = "?";
            var violence1Value = "?";
            var violence2Value = "?";
            var violenceNumber = "";
            var interventionValue = "?"
            var impact1Icon = "";
            var impact2Icon = "";
            var impact3Icon = "";

            
            // the itemAttributesList entries are in the order the codes are assigned so we need to loop through all of them to
            // be sure we look at all of them

            for (var k = 0; k < codingData.itemSetList[0].itemAttributesList.length; k++) 
            {
                switch (codingData.itemSetList[0].itemAttributesList[k].attributeId) 
                {

                    // Cost
                    case codingData.reviewSets[0].attributes.attributesList[0].attributes.attributesList[0].attributeId:
                        costValue = "1";
                        costIcon = "<i class='fas fa-lg fa-pound-sign' title='< £500\r\nper participant'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-pound-sign' title='< £500\r\nper participant' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-pound-sign' title='< £500\r\nper participant' style='color:" + offIcons + "'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[0].attributes.attributesList[1].attributeId:
                        costValue = "2";
                        costIcon = "<i class='fas fa-lg fa-pound-sign' title='£500 - £1000\r\nper participant'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-pound-sign' title='£500 - £1000\r\nper participant'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-pound-sign' title='£500 - £1000\r\nper participant' style='color:" + offIcons + "'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[0].attributes.attributesList[2].attributeId:
                        costValue = "3";
                        costIcon = "<i class='fas fa-lg fa-pound-sign' title='> £1000\r\nper participant'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-pound-sign' title='> £1000\r\nper participant'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-pound-sign' title='> £1000\r\nper participant'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[0].attributes.attributesList[3].attributeId:
                        costValue = "0";
                        //costIcon = "<i class='fas fa-lg fa-pound-sign'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-pound-sign'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-pound-sign'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-pound-sign'></i>";
                        costIcon = "<b>N/A</b>";
                        break;

                    // Evidence quality
                    case codingData.reviewSets[0].attributes.attributesList[1].attributes.attributesList[0].attributeId:
                        evidenceQualityValue = "0";
                        //evidenceQualityIcon = "<i class='fas fa-lg fa-search-minus' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-minus' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-minus' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-minus' style='color:" + offIcons + "'></i>";
                        //evidenceQualityIcon = "<i class='far fa-lg fa-dot-circle' title='Not rated'></i>";
                        //evidenceQualityIcon = "<i class='fas fa-lg fa-not-equal' style='color:" + offIcons + "'></i>";
                        evidenceQualityIcon = "<b>Not rated</b>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[1].attributes.attributesList[1].attributeId:
                        evidenceQualityValue = "1";
                        evidenceQualityIcon = "<i class='fas fa-lg fa-search-plus' title='Evidence Quality: 1'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-minus' title='Evidence Quality: 1' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-minus' title='Evidence Quality: 1' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-minus' title='Evidence Quality: 1' style='color:" + offIcons + "'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[1].attributes.attributesList[2].attributeId:
                        evidenceQualityValue = "2";
                        evidenceQualityIcon = "<i class='fas fa-lg fa-search-plus' title='Evidence Quality: 2'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-plus' title='Evidence Quality: 2'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-minus' title='Evidence Quality: 2' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-minus' title='Evidence Quality: 2' style='color:" + offIcons + "'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[1].attributes.attributesList[3].attributeId:
                        evidenceQualityValue = "3";
                        evidenceQualityIcon = "<i class='fas fa-lg fa-search-plus' title='Evidence Quality: 3'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-plus' title='Evidence Quality: 3'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-plus' title='Evidence Quality: 3'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-minus' title='Evidence Quality: 3' style='color:" + offIcons + "'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[1].attributes.attributesList[4].attributeId:
                        evidenceQualityValue = "4";
                        evidenceQualityIcon = "<i class='fas fa-lg fa-search-plus' title='Evidence Quality: 4'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-plus' title='Evidence Quality: 4'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-plus' title='Evidence Quality: 4'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-search-plus' title='Evidence Quality: 4'></i>";
                        break;

                    // Review size
                    case codingData.reviewSets[0].attributes.attributesList[2].attributes.attributesList[0].attributeId:
                        reviewSizeValue = "1";
                        reviewSizeIcon = "<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt' style='color:" + offIcons + "'></i>"
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[2].attributes.attributesList[1].attributeId:
                        reviewSizeValue = "2";
                        reviewSizeIcon = "<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt' style='color:" + offIcons + "'></i>"
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[2].attributes.attributesList[2].attributeId:
                        reviewSizeValue = "3";
                        reviewSizeIcon = "<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt' style='color:" + offIcons + "'></i>"
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[2].attributes.attributesList[3].attributeId:
                        reviewSizeValue = "4";
                        reviewSizeIcon = "<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt' style='color:" + offIcons + "'></i>"
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[2].attributes.attributesList[4].attributeId:
                        reviewSizeValue = "5";
                        reviewSizeIcon = "<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-file-alt'></i>"
                        break;
                    
                     // Outcomes 1
                     case codingData.reviewSets[0].attributes.attributesList[3].attributes.attributesList[0].attributeId:
                         outcomes1Value = "Mental health";
                         outcomeNumber += "1";
                         break;
                     case codingData.reviewSets[0].attributes.attributesList[3].attributes.attributesList[1].attributeId:
                         outcomes1Value = "Violence";
                         outcomeNumber += "2";
                         break;
                     case codingData.reviewSets[0].attributes.attributesList[3].attributes.attributesList[2].attributeId:
                         outcomes1Value = "Knowledge / attitudes";
                         outcomeNumber += "3";
                         break;
                     case codingData.reviewSets[0].attributes.attributesList[3].attributes.attributesList[3].attributeId:
                         outcomes1Value = "Indentification of violence";
                         outcomeNumber += "4";
                         break;

                    // Impact 1
                    case codingData.reviewSets[0].attributes.attributesList[4].attributes.attributesList[0].attributeId:
                        outcomes1ImpactValue = "No";
                        impact1Number = "0";
                        //impact1Icon = "<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>";
                        impact1Icon = "<i class='fas fa-lg fa-times'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[4].attributes.attributesList[1].attributeId:
                        outcomes1ImpactValue = "Low";
                        impact1Number = "1";
                        impact1Icon = "<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[4].attributes.attributesList[2].attributeId:
                        outcomes1ImpactValue = "Moderate";
                        impact1Number = "2";
                        impact1Icon = "<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[4].attributes.attributesList[3].attributeId:
                        outcomes1ImpactValue = "High";
                        impact1Number = "3";
                        impact1Icon = "<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check'></i>";
                        break;

                    // Outcomes 2
                    case codingData.reviewSets[0].attributes.attributesList[5].attributes.attributesList[0].attributeId:
                        outcomes2Value = "Violence";
                        if (!outcomeNumber.includes("2")) { outcomeNumber += "2"; }
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[5].attributes.attributesList[1].attributeId:
                        outcomes2Value = "Child behaviour";
                        outcomeNumber += "5";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[5].attributes.attributesList[2].attributeId:
                        outcomes2Value = "Mental health";
                        if (!outcomeNumber.includes("1")) { outcomeNumber += "1"; }
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[5].attributes.attributesList[3].attributeId:
                        outcomes2Value = "Health service utilisation";
                        outcomeNumber += "6";
                        break;

                    // Impact 2
                    case codingData.reviewSets[0].attributes.attributesList[6].attributes.attributesList[0].attributeId:
                        outcomes2ImpactValue = "No";
                        impact2Number = "0";
                        //impact2Icon = "<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>";
                        impact2Icon = "<i class='fas fa-lg fa-times'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[6].attributes.attributesList[1].attributeId:
                        outcomes2ImpactValue = "Low";
                        impact2Number = "1";
                        impact2Icon = "<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[6].attributes.attributesList[2].attributeId:
                        outcomes2ImpactValue = "Moderate";
                        impact2Number = "2";
                        impact2Icon = "<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[6].attributes.attributesList[3].attributeId:
                        outcomes2ImpactValue = "High";
                        impact2Number = "3";
                        impact2Icon = "<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check'></i>";
                        break;

                    // Outcomes 3
                    case codingData.reviewSets[0].attributes.attributesList[7].attributes.attributesList[0].attributeId:
                        outcomes3Value = "Health service utilisation";
                        if (!outcomeNumber.includes("6")) { outcomeNumber += "6"; }
                        break;

                    // Impact 3
                    case codingData.reviewSets[0].attributes.attributesList[8].attributes.attributesList[0].attributeId:
                        outcomes3ImpactValue = "No";
                        impact3Number = "0";
                        //impact3Icon = "<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>";
                        impact3Icon = "<i class='fas fa-lg fa-times'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[8].attributes.attributesList[1].attributeId:
                        outcomes3ImpactValue = "Low";
                        impact3Number = "1";
                        impact3Icon = "<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[8].attributes.attributesList[2].attributeId:
                        outcomes1ImpactValue = "Moderate";
                        impact3Number = "2";
                        impact3Icon = "<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check' style='color:" + offIcons + "'></i>";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[8].attributes.attributesList[3].attributeId:
                        outcomes1ImpactValue = "High";
                        impact3Number = "3";
                        impact3Icon = "<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;<i class='fas fa-lg fa-check'></i>&nbsp;&nbsp;";
                        break;


                    // Violence 1
                    case codingData.reviewSets[0].attributes.attributesList[9].attributes.attributesList[0].attributeId:
                        violence1Value = "IPV";
                        violenceNumber += "1";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[9].attributes.attributesList[1].attributeId:
                        violence1Value = "CSA";
                        violenceNumber += "2";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[9].attributes.attributesList[2].attributeId:
                        violence1Value = "SV";
                        violenceNumber += "3";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[9].attributes.attributesList[3].attributeId:
                        violence1Value = "HT";
                        violenceNumber += "4";
                        break;


                    // Violence 2
                    case codingData.reviewSets[0].attributes.attributesList[10].attributes.attributesList[0].attributeId:
                        violence2Value = "CSA";
                        if (!violenceNumber.includes("2")) { violenceNumber += "2"; }
                        break;


                    // Interventions
                    case codingData.reviewSets[0].attributes.attributesList[11].attributes.attributesList[0].attributeId:
                        // cbInterventionsForVictims
                        interventionValue = "1";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[11].attributes.attributesList[1].attributeId:
                        // cbForBroaderImpactsOfViolence
                        interventionValue = "2";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[11].attributes.attributesList[2].attributeId:
                        // cbInterventionsForPerpetrators
                        interventionValue = "3";
                        break;
                    case codingData.reviewSets[0].attributes.attributesList[11].attributes.attributesList[3].attributeId:
                        // cbOrganisationalInterventions
                        interventionValue = "4";
                        break;

                    default:
                        break;
                }
            }

            if (searchFor == "")
            {
                // for slider filtering I can check the values to see if they reside within the selected ranges and ignore that which isn't...
                if (((costValue >= costMin) && (costValue <= costMax)) &&
                    ((evidenceQualityValue >= evidenceMin) && (evidenceQualityValue <= evidenceMax))) 
                {
                    // for checkbox filtering the selected items are included unless nothing is selected which mean everthing is included....
                    // start with interventions...
                    if ((cbInterventions.includes(interventionValue)) || (cbInterventions == "")) 
                    {
                        // there can be up to 3 multiple outcomes in the data for one item so check each one
                        let outcomeNumberArray = outcomeNumber.split('');
                        if ((cbOutcomes.includes(outcomeNumberArray[0])) || (cbOutcomes.includes(outcomeNumberArray[1])) ||
                            (cbOutcomes.includes(outcomeNumberArray[2])) || (cbOutcomes == "")) 
                        {
                            // looking at prevention types (violence 1 & 2)
                            // there can be up to 2 violence types in the data for one items
                            let violenceNumberArray = violenceNumber.split('');
                            if ((cbPreventionTypes.includes(violenceNumberArray[0])) || (cbPreventionTypes.includes(violenceNumberArray[1])) || (cbPreventionTypes == "")) 
                            {

                                visualHTML += "<div class='card' >";
                                visualHTML += "<div class='card-header' style='background-color: " + topColour + "; '>";
                                visualHTML += "<table width='100%'>";
                                visualHTML += "<tr>";
                                visualHTML += "<td width='40%' style='border-right: solid; border-width: 1px; padding: 0px 5px 0px 0px; cursor: pointer;' onclick='javascript:GoToDHSCItemDetails(" + itemId + ")'>";
                                visualHTML += "<b>" + studyTitle + "</b>";
                                visualHTML += "<br>";
                                visualHTML += studyAbstract;
                                //visualHTML += "<br>itemId: " + itemId;
                                visualHTML += "</td>";


                                visualHTML += "<td width='20%' style='border-right: solid; border-width: 1px; padding: 0px 5px 0px 5px;cursor: pointer;' onclick='javascript:GoToDHSCItemDetails(" + itemId + ")'>";
                                visualHTML += "<h5><b>Cost</b></h5><br>"
                                visualHTML += costIcon;
                                //visualHTML += "<br>(attributeId: " + codingData.itemSetList[0].itemAttributesList[0].attributeId + ")";
                                visualHTML += "</td>";

                                visualHTML += "<td width='20%' style='border-right: solid; border-width: 1px; padding: 0px 5px 0px 5px; cursor: pointer;' onclick='javascript:GoToDHSCItemDetails(" + itemId + ")'>";
                                visualHTML += "<h5><b>Evidence quality</b></h5><br>"
                                visualHTML += evidenceQualityIcon;
                                //visualHTML += "<br>(attributeId: " + codingData.itemSetList[0].itemAttributesList[1].attributeId + ")";
                                visualHTML += "</td>";

                                visualHTML += "<td width='20%' style='padding: 0px 0px 0px 5px; cursor: pointer;'>";
                                visualHTML += "<h5><b>Review size</b></h5><br>"
                                if (reviewSizeValue == "?") {
                                    visualHTML += "<b>N/A</b>";
                                }
                                else {
                                    visualHTML += reviewSizeIcon;
                                }
                                //visualHTML += "<br>(attributeId: " + codingData.itemSetList[0].itemAttributesList[2].attributeId + ")";
                                visualHTML += "</td>";
                                visualHTML += "</tr>";
                                visualHTML += "</table>";
                                visualHTML += "</div>";

                                if ((outcomes1Value != "?") || (outcomes2Value != "?") || (outcomes2Value != "?")) 
                                {
                                    // we have outcome values so add them to the card
                                    visualHTML += "<div class='card-body' style='background-color: " + botColour + "'>";
                                    visualHTML += "<table width='100%'>";
                                    visualHTML += "<tr>";
                                    visualHTML += "<td colspan='4' style='border-bottom: solid; border-width: 1px; padding: 0px 0px 0px 0px; cursor: pointer;' onclick='javascript:GoToDHSCItemDetails(" + itemId + ")'>";
                                    visualHTML += "Other outcomes";
                                    visualHTML += "</td>";
                                    visualHTML += "</tr>";

                                    if (outcomes1Value != "?") {
                                        visualHTML += "<tr>";
                                        visualHTML += "<td colspan='3' style='padding: 10px 5px 5px 5px; cursor: pointer;' onclick='javascript:GoToDHSCItemDetails(" + itemId + ")'>";
                                        if (outcomes1ImpactValue == "?") {
                                            visualHTML += "<b>Unknown</b> estimated impact on / reduction in " + "<b>" + outcomes1Value + "</b>";
                                        }
                                        else {
                                            visualHTML += "<b>" + outcomes1ImpactValue + "</b>" + " estimated impact on / reduction in " + "<b>" + outcomes1Value + "</b>";
                                        }
                                        visualHTML += "</td>";
                                        visualHTML += "<td colspan='1' style='padding: 10px 5px 5px 5px; text-align: right;'>";
                                        if (outcomes1ImpactValue == "?") {
                                            visualHTML += "<i class='fas fa-lg fa-minus'></i>";
                                        }
                                        else {
                                            visualHTML += impact1Icon;
                                        }
                                        visualHTML += "</td>";
                                        visualHTML += "</tr>";
                                    }
                                    if (outcomes2Value != "?") {
                                        visualHTML += "<tr>";
                                        visualHTML += "<td colspan='3' style='border-top: dotted; border-width: 1px; padding: 10px 5px 5px 5px; cursor: pointer;' onclick='javascript:GoToDHSCItemDetails(" + itemId + ")'>";
                                        visualHTML += "<b>" + outcomes2ImpactValue + "</b>" + " estimated impact on / reduction in " + "<b>" + outcomes2Value + "</b>";
                                        visualHTML += "</td>";
                                        visualHTML += "<td colspan='1'style='border-top: dotted; border-width: 1px; padding: 10px 5px 5px 5px; text-align: right;'>";
                                        visualHTML += impact2Icon;
                                        visualHTML += "</td>";
                                        visualHTML += "</tr>";
                                    }
                                    if (outcomes3Value != "?") {
                                        visualHTML += "<tr>";
                                        visualHTML += "<td colspan='3' style='border-top: dotted; border-width: 1px; padding: 10px 5px 5px 5px; cursor: pointer; onclick='javascript:GoToDHSCItemDetails(" + itemId + ")''>";
                                        visualHTML += "<b>" + outcomes3ImpactValue + "</b>" + " estimated impact on / reduction in " + "<b>" + outcomes3Value + "</b>";
                                        visualHTML += "</td>";
                                        visualHTML += "<td colspan='1' style='border-top: dotted; border-width: 1px; padding: 10px 5px 5px 5px; text-align: right;'>";
                                        visualHTML += impact3Icon;
                                        visualHTML += "</td>";
                                        visualHTML += "</tr>";
                                    }
                                    visualHTML += "</table>";
                                    visualHTML += "</div>";
                                }

                                visualHTML += "</div>";
                            }
                        }
                    }
                }
                globalCounter += 1;
                if (globalCounter == documentData.items.totalItemCount) 
                {
                    let resultsDiv = $("#visualsDHSCDiv");
                    resultsDiv.html(visualHTML);
                    globalCounter = 0;

                    // enable controls
                    var element = document.getElementById("filterDiv");
                    element.classList.remove("disabledFilterDiv");
                    // disable checkbox div
                    var element1 = document.getElementById("outcomesFilterDiv");
                    element1.classList.remove("disabledFilterDiv");
                    var element2 = document.getElementById("themesFilterDiv");
                    element2.classList.remove("disabledFilterDiv");
                    var element3 = document.getElementById("preventionFilterDiv");
                    element3.classList.remove("disabledFilterDiv");
                }
            }
            
            
            if (searchFor != "") 
            {
                // there are search terms so see if the container should be created
                // str.toLowerCase().includes(substr.toLowerCase())
                if ((studyTitle.toLowerCase().includes(searchFor.toLowerCase())) || (studyAbstract.toLowerCase().includes(searchFor.toLowerCase()))) 
                {
                    visualHTML += "<div class='card' >";
                    visualHTML += "<div class='card-header' style='background-color: " + topColour + "; '>";
                    visualHTML += "<table width='100%'>";
                    visualHTML += "<tr>";
                    visualHTML += "<td width='40%' style='border-right: solid; border-width: 1px; padding: 0px 5px 0px 0px; cursor: pointer;' onclick='javascript:GoToDHSCItemDetails(" + itemId + ")'>";
                    visualHTML += "<b>" + studyTitle + "</b>";
                    visualHTML += "<br>";
                    visualHTML += studyAbstract;
                    //visualHTML += "<br>itemId: " + itemId;
                    visualHTML += "</td>";


                    visualHTML += "<td width='20%' style='border-right: solid; border-width: 1px; padding: 0px 5px 0px 5px;cursor: pointer;' onclick='javascript:GoToDHSCItemDetails(" + itemId + ")'>";
                    visualHTML += "<h5><b>Cost</b></h5><br>"
                    visualHTML += costIcon;
                    //visualHTML += "<br>(attributeId: " + codingData.itemSetList[0].itemAttributesList[0].attributeId + ")";
                    visualHTML += "</td>";

                    visualHTML += "<td width='20%' style='border-right: solid; border-width: 1px; padding: 0px 5px 0px 5px; cursor: pointer;' onclick='javascript:GoToDHSCItemDetails(" + itemId + ")'>";
                    visualHTML += "<h5><b>Evidence quality</b></h5><br>"
                    visualHTML += evidenceQualityIcon;
                    //visualHTML += "<br>(attributeId: " + codingData.itemSetList[0].itemAttributesList[1].attributeId + ")";
                    visualHTML += "</td>";

                    visualHTML += "<td width='20%' style='padding: 0px 0px 0px 5px; cursor: pointer;'>";
                    visualHTML += "<h5><b>Review size</b></h5><br>"
                    if (reviewSizeValue == "?") {
                        visualHTML += "<b>N/A</b>";
                    }
                    else {
                        visualHTML += reviewSizeIcon;
                    }
                    //visualHTML += "<br>(attributeId: " + codingData.itemSetList[0].itemAttributesList[2].attributeId + ")";
                    visualHTML += "</td>";
                    visualHTML += "</tr>";
                    visualHTML += "</table>";
                    visualHTML += "</div>";

                    if ((outcomes1Value != "?") || (outcomes2Value != "?") || (outcomes2Value != "?")) {
                        // we have outcome values so add them to the card
                        visualHTML += "<div class='card-body' style='background-color: " + botColour + "'>";
                        visualHTML += "<table width='100%'>";
                        visualHTML += "<tr>";
                        visualHTML += "<td colspan='4' style='border-bottom: solid; border-width: 1px; padding: 0px 0px 0px 0px; cursor: pointer;' onclick='javascript:GoToDHSCItemDetails(" + itemId + ")'>";
                        visualHTML += "Other outcomes";
                        visualHTML += "</td>";
                        visualHTML += "</tr>";

                        if (outcomes1Value != "?") {
                            visualHTML += "<tr>";
                            visualHTML += "<td colspan='3' style='padding: 10px 5px 5px 5px; cursor: pointer;' onclick='javascript:GoToDHSCItemDetails(" + itemId + ")'>";
                            if (outcomes1ImpactValue == "?") {
                                visualHTML += "<b>Unknown</b> estimated impact on / reduction in " + "<b>" + outcomes1Value + "</b>";
                            }
                            else {
                                visualHTML += "<b>" + outcomes1ImpactValue + "</b>" + " estimated impact on / reduction in " + "<b>" + outcomes1Value + "</b>";
                            }
                            visualHTML += "</td>";
                            visualHTML += "<td colspan='1' style='padding: 10px 5px 5px 5px; text-align: right;'>";
                            if (outcomes1ImpactValue == "?") {
                                visualHTML += "<i class='fas fa-lg fa-minus'></i>";
                            }
                            else {
                                visualHTML += impact1Icon;
                            }
                            visualHTML += "</td>";
                            visualHTML += "</tr>";
                        }
                        if (outcomes2Value != "?") {
                            visualHTML += "<tr>";
                            visualHTML += "<td colspan='3' style='border-top: dotted; border-width: 1px; padding: 10px 5px 5px 5px; cursor: pointer;' onclick='javascript:GoToDHSCItemDetails(" + itemId + ")'>";
                            visualHTML += "<b>" + outcomes2ImpactValue + "</b>" + " estimated impact on / reduction in " + "<b>" + outcomes2Value + "</b>";
                            visualHTML += "</td>";
                            visualHTML += "<td colspan='1'style='border-top: dotted; border-width: 1px; padding: 10px 5px 5px 5px; text-align: right;'>";
                            visualHTML += impact2Icon;
                            visualHTML += "</td>";
                            visualHTML += "</tr>";
                        }
                        if (outcomes3Value != "?") {
                            visualHTML += "<tr>";
                            visualHTML += "<td colspan='3' style='border-top: dotted; border-width: 1px; padding: 10px 5px 5px 5px; cursor: pointer; onclick='javascript:GoToDHSCItemDetails(" + itemId + ")''>";
                            visualHTML += "<b>" + outcomes3ImpactValue + "</b>" + " estimated impact on / reduction in " + "<b>" + outcomes3Value + "</b>";
                            visualHTML += "</td>";
                            visualHTML += "<td colspan='1' style='border-top: dotted; border-width: 1px; padding: 10px 5px 5px 5px; text-align: right;'>";
                            visualHTML += impact3Icon;
                            visualHTML += "</td>";
                            visualHTML += "</tr>";
                        }
                        visualHTML += "</table>";
                        visualHTML += "</div>";
                    }

                    visualHTML += "</div>";


                }

                globalCounter += 1;
                if (globalCounter == documentData.items.totalItemCount) {
                    let resultsDiv = $("#visualsDHSCDiv");
                    resultsDiv.html(visualHTML);
                    globalCounter = 0;
                    searchFor = "";
                }
            }

        }
        else {
            console.log("error", "unable to get data");
        }
    }





</script>

@{
    Layout = "~/Views/Shared/_DHSCLayout.cshtml";
}


<!-- Side bar coding tools area -->
<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">

            <ul class="nav nav-primary">
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>

                    <div style="padding-left:10px">
                        <!-- this button should be invisible if the screen is > 325px wide -->
                        <button id="smallPhoneButton" class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                                data-target="collapse" aria-expanded="false" aria-label="Toggle navigation" style="padding-left:0px">
                            <span class="navbar-toggler-icon">
                                <i class="icon-menu"></i>
                            </span>
                        </button>

                        
                        <table width="100%">
                            <tr>
                                <td style="padding: 0px 0px 0px 0px;">
                                    <button type="button" id="blue" class="btn btn-icon btn-xs btn-round" style="background-color:#a4d2f7" onclick="changeColour('1')" > </button>
                                </td>
                                <td style="padding: 0px 0px 0px 0px;">
                                    <button type="button" id="red" class="btn btn-icon btn-xs btn-round" style="background-color:#f8cbc7" onclick="changeColour('2')"> </button>
                                </td>
                                <td style="padding: 0px 0px 0px 0px;">
                                    <button type="button" id="green" class="btn btn-icon btn-xs btn-round" style="background-color:#9ad68c" onclick="changeColour('3')"> </button>
                                </td>
                                <td style="padding: 0px 0px 0px 0px;">
                                    <button type="button" id="orange" class="btn btn-icon btn-xs btn-round" style="background-color:#ffd29a" onclick="changeColour('4')"> </button>
                                </td>
                                <td style="padding: 0px 0px 0px 0px;">
                                    <button type="button" id="purple" class="btn btn-icon btn-xs btn-round" style="background-color:#ada9e4" onclick="changeColour('5')"> </button>
                                </td>
                            </tr>
                        </table>


                        <div id="filterDiv" class="text-body pb-2" style="width: 95%">
                            <table width="100%">
                                <tr>
                                    <td style="vertical-align:middle; border-bottom: solid; border-color: black;  border-width: 3px; padding: 10px 10px 15px 10px; width:95%">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend border rounded my-auto">
                                                    <button type="button" id="searchButton" onclick="searchRecords(SearchString)" class="btn btn-search pr-1 py-2 px-2" disabled>
                                                        <span style="color:#0b52ad"><i class="fas fa-search search-icon"></i></span>
                                                    </button>
                                                </div>
                                                <input type="text" placeholder="Search records..." onkeyup="enableSearch()" style="background-color:white" class="form-control" maxlength="4000" name="SearchString" id="SearchString">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <!--Filtering controls-->

                            <table width="100%">
                                <tr>
                                    <td style="width: 50%; vertical-align:middle; border-bottom: solid; border-color: black;  border-width: 1px; padding: 13px 10px 5px 10px;">
                                        <h3 class="text-body pb-2"><b>Filter by:</b></h3>
                                    </td>
                                    <td style="width: 50%; vertical-align:top; text-align:right; border-bottom: solid; border-color: black;  border-width: 1px; padding: 13px 10px 5px 10px;">
                                        <a class="btn btn-primary btn-sm btn-border" href="~/Review/IndexWithName?VisName=DHSC">Clear all</a>
                                    </td>
                                </tr>
                            </table>


                            <table width="100%">
                                <tr>
                                    <td style="padding: 0px 10px 0px 10px;">   
                                    </td>
                                </tr>
                            
                                <tr>
                                    <td style="padding: 10px 10px 10px 15px;">
                                        <label><b>COST per participant</b></label><br />
                                        <div id="costSlider" class="humidity">
                                            <input />
                                            <input />
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding: 10px 10px 10px 15px;">
                                        <label><b>EVIDENCE QUALITY</b></label><br />
                                        <div id="evidenceSlider" class="humidity">
                                            <input />
                                            <input />
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding: 10px 10px 10px 10px;">
                                    <br />
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-top: solid; border-color: black;  border-width: 1px; padding: 10px 10px 0px 10px;">
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding: 0px 10px 0px 10px;">
                                        <h5 class="text-body pb-2"><b>Advanced filters</b></h5>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    
                        <div class="text-body pb-2" style="cursor: pointer;width: 95%;" onclick="filterToggle('themesFilterDiv')">
                            <table width="100%"><tr>
                                    <td width="80%"><h5><b>INTERVENTIONS</b></h5></td>
                                <td width="20%">
                                    <svg width="10" height="5" viewBox="0 0 10 5" class="ml-4" fill="none">
                                    <path fill="#000" d="M0 0l5 5 5-5H0z"></path></svg>
                                </td>
                            </tr></table>
                        </div>                        
                        <div id="themesFilterDiv" style="width: 95%; display:none">
                            <table width="100%"><tr>
                                <td style="padding: 0px 0px 0px 10px;" ">
                                    <ul class="fieldlist">
                                        <li>
                                                <input type="checkbox" id="cbInterventionsForVictims" onclick="cbInterventionsChange('cbInterventionsForVictims', '1')" />
                                                <label>&nbsp;&nbsp;&nbsp;for victims</label>
                                        </li>
                                        <li>
                                                <input type="checkbox" id="cbForBroaderImpactsOfViolence" onclick="cbInterventionsChange('cbForBroaderImpactsOfViolence', '2')" />
                                            <label>&nbsp;&nbsp;&nbsp;for broader impacts of violence</label>
                                        </li>
                                        <li>
                                                <input type="checkbox" id="cbInterventionsForPerpetrators" onclick="cbInterventionsChange('cbInterventionsForPerpetrators', '3')" />
                                            <label>&nbsp;&nbsp;&nbsp;for perpetrators</label>
                                        </li>
                                        <li>
                                                <input type="checkbox" id="cbOrganisationalInterventions" onclick="cbInterventionsChange('cbOrganisationalInterventions', '4')" />
                                            <label>&nbsp;&nbsp;&nbsp;Organisational</label>
                                        </li>
                                    </ul>
                                </td>
                            </tr></table>
                            <br />
                        </div>

                        <div class="text-body pb-2" style="cursor: pointer;width: 95%;" onclick="filterToggle('outcomesFilterDiv')">
                            <table width="100%">
                                <tr>
                                    <td width="80%" style="border-top: solid; border-color: black;  border-width: 1px; padding: 10px 10px 5px 0px;">
                                        <h5><b>OUTCOMES</b></h5></td>
                                    <td width="20%" style="border-top: solid; border-color: black;  border-width: 1px; padding: 10px 10px 5px 0px;">
                                        <svg width="10" height="5" viewBox="0 0 10 5" class="ml-4" fill="none">
                                            <path fill="#000" d="M0 0l5 5 5-5H0z"></path>
                                        </svg> 
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="outcomesFilterDiv" style="width: 95%; display:none">
                            <table width="100%">
                                <tr>
                                    <td style="padding: 0px 0px 0px 10px;" ">
                                        <ul class="fieldlist">
                                            <li>
                                                <input type="checkbox" id="cbMentalHealth" onclick="cbOutcomesChange('cbMentalHealth', '1')" />
                                                <label>&nbsp;&nbsp;&nbsp;Mental health</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="cbViolence" onclick="cbOutcomesChange('cbViolence', '2')" />
                                                <label>&nbsp;&nbsp;&nbsp;Violence</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="cdKnowledgeAttidutes" onclick="cbOutcomesChange('cdKnowledgeAttidutes', '3')" />
                                                <label>&nbsp;&nbsp;&nbsp;Knowledge / attitudes</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="cdIdentificationOfViolence" onclick="cbOutcomesChange('cdIdentificationOfViolence', '4')" />
                                                <label>&nbsp;&nbsp;&nbsp;Identification of violence</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="cbChildBehaviour" onclick="cbOutcomesChange('cbChildBehaviour', '5')" />
                                                <label>&nbsp;&nbsp;&nbsp;Child behaviour</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="cbHealthServiceUtilisation" onclick="cbOutcomesChange('cbHealthServiceUtilisation', '6')" />
                                                <label>&nbsp;&nbsp;&nbsp;Health service utilisation</label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                            <br />
                        </div>

                        <div class="text-body pb-2" style="cursor: pointer;width: 95%;" onclick="filterToggle('preventionFilterDiv')">
                            <table width="100%">
                                <tr>
                                    <td width="80%" style="border-top: solid; border-color: black;  border-width: 1px; padding: 10px 10px 5px 0px;">
                                        <h5><b>PREVENTION TYPES</b></h5> 
                                        <!-- also called violence 1 & 2 -->
                                    </td>
                                    <td width="20%" style="border-top: solid; border-color: black;  border-width: 1px; padding: 10px 10px 5px 0px;">
                                        <svg width="10" height="5" viewBox="0 0 10 5" class="ml-4" fill="none">
                                            <path fill="#000" d="M0 0l5 5 5-5H0z"></path>
                                        </svg>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="preventionFilterDiv" style="width: 95%; display:none">
                            <table width="100%">
                                <tr>
                                    <td style="padding: 0px 0px 0px 10px;" ">
                                        <ul class="fieldlist">
                                            <li>
                                                <input type="checkbox" id="cbIPV" onclick="cbPreventionTypesChange('cbIPV', '1')" />
                                                <label>&nbsp;&nbsp;&nbsp;Intimate partner violence</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="cbCSA" onclick="cbPreventionTypesChange('cbCSA', '2')" />
                                                <label>&nbsp;&nbsp;&nbsp;Child sexual abuse</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="cbSV" onclick="cbPreventionTypesChange('cbSV', '3')" />
                                                <label>&nbsp;&nbsp;&nbsp;Sexual violence</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="cbHT" onclick="cbPreventionTypesChange('cbHT', '4')" />
                                                <label>&nbsp;&nbsp;&nbsp;Human trafficking</label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                            <br />
                        </div>

                    </div>
                </li>

            </ul>

        </div>
    </div>
</div>


<div class="main-panel">
    <div class="content">

        <!-- header area -->
        <!--//<div class="panel-header bg-primary-gradient">-->
        <div id="headerDiv" class="panel-header" style="background: linear-gradient(to left, #0066cc 0%, #3399ff 100%);">
            <div class="page-inner py-5">
                <div class="row">
                    <div class="col-8 col-md-7 px-1">
                        <h2 class="text-white pb-2 fw-bold">@Model.WebDb.WebDBName</h2>
                        <h5 class="text-white op-7 mb-2">@Model.WebDb.Subtitle</h5>
                    </div>
                    <div class="col-auto col-md-5 px-1 row mx-0">
                        @if (@imgPath1 != "")
                        {
                            if (Model.WebDb.HeaderImage1Url == "")
                            {
                                <img src=@imgPath1 style="max-height: 60px; object-fit: cover;" class="pb-2 ml-auto" />
                            }
                            else if (Model.WebDb.HeaderImage1Url.ToLower().StartsWith("http://") || Model.WebDb.HeaderImage1Url.ToLower().StartsWith("https://"))
                            {
                                <a href="@(new HtmlString(Model.WebDb.HeaderImage1Url))" class="ml-auto" target="_blank" title="Header Image1">
                                    <img src=@imgPath1 style="max-height: 60px; object-fit: cover;" class="pb-2 " />
                                </a>
                            }
                            else
                            {
                                <a href="@(new HtmlString("https://" + Model.WebDb.HeaderImage1Url))" class="ml-auto" target="_blank" title="Header Image1">
                                    <img src=@imgPath1 style="max-height: 60px; object-fit: cover;" class="pb-2" />
                                </a>
                            }
                        }
                        @if (@imgPath2 != "")
                        {
                            if (Model.WebDb.HeaderImage2Url == "")
                            {
                                <img src=@imgPath2 style="max-height: 60px; object-fit: cover;" class="pb-2 ml-auto" />
                            }
                            else if (Model.WebDb.HeaderImage2Url.ToLower().StartsWith("http://") || Model.WebDb.HeaderImage2Url.ToLower().StartsWith("https://"))
                            {
                                <a href="@(new HtmlString(Model.WebDb.HeaderImage2Url))" class="ml-auto" target="_blank" title="Header Image2">
                                    <img src=@imgPath2 style="max-height: 60px; object-fit: cover;" class="pb-2 " />
                                </a>
                            }
                            else
                            {
                                <a href="@(new HtmlString("https://" + Model.WebDb.HeaderImage2Url))" class="ml-auto" target="_blank" title="Header Image2">
                                    <img src=@imgPath2 style="max-height: 60px; object-fit: cover;" class="pb-2" />
                                </a>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>

        <!-- Everything below header -->
        <div class="page-inner px-2 mt--5">
            <div class="row mx-0 mt--2">
                <div class="col-12">

                    <!-- Description card -->
                    <div class="card ">
                        <div class="card-header">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div class="card-title">Introduction</div>
                                    </td>
                                    <td style="text-align:right;padding-top:5px">
                                        <div id="ExpandDescription" class="btn btn-primary btn-sm btn-round"
                                             onclick="ToggleDescrPanelSize()">
                                            <div class="flaticon-down-arrow-1">
                                                &nbsp;&nbsp;View more&nbsp;
                                            </div>
                                        </div>
                                        <div id="ReduceDescription" class="btn btn-primary btn-sm btn-round"
                                             onclick="ToggleDescrPanelSize()">
                                            <div class="flaticon-up-arrow-1">
                                                &nbsp;&nbsp;View less&nbsp;
                                            </div>
                                        </div>
                                        <div id="ShowHideDescriptionDivButton" class="btn btn-primary btn-sm"
                                             onclick="HideShowDescriptionDiv()">
                                            <div id="ShowHideDescriptionDivIcon" class="fa fa-minus">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="card-body" id="WebDBDescriptionBody" tooltip="">
                            <div class="card-category" id="WebDBDescription" style="overflow-y:auto;">
                                @(new HtmlString(Model.WebDb.WebDBDescription))

                            </div>
                        </div>
                    </div>

                    <!--<div id="justATest"></div>-->
                    <div id="visualsDHSCDiv"></div>


                </div>


                <div class="col-auto col-lg">
                </div>

            </div>

        </div>
    </div>
</div>

