@model ReferenceListResult

@{
    ViewData["Title"] = "Fetch";
}
<script type="text/javascript">
    function ShowHideAbstract(id) {
        var row = $('#itemDetailRow-' + id);
        var bt1 = $('#ShowAbstractBt-' + id);
        
        var displrow = row.css('display');
        if (displrow == 'none') {
            //row.css('display', 'table-row');
            row.show(900);
            bt1.text('[Hide Abstract]');
            
        }
        else {
            row.hide(600);
            bt1.text = '[Show Abstract]';
        }

    
    }
    </script>
<div class="container">
    <form method="post" action="~/FindCitations">
        <input type="hidden" name="ListOfIDs" id="ListOfIDs" value="@Model.ListOfIDs" />
        <input type="hidden" name="SearchString" id="SearchString" value="@Model.SearchString" />
        <input type="hidden" name="SearchMethod" id="SearchMethod" value="@Model.SearchMethod" />

        <div class="d-flex justify-content-end">
            <button class="btn m-1 align-self-centre" type="submit" value="View Graphs" formaction="ViewGraph">View Graphs</button>
        </div>
        
        @*<div class="row">
            Your search was
            @{
                if (Model.SearchMethod == "PubMedSearch")
                {<span>a PubMed search.</span>}
                else if (Model.SearchMethod == "PubMedIDs")
                {<span>a search via PubMedIDs.</span>}
            }
        </div>
        <div class="row">
            Your search was:
        </div>
        <div class="row" style="border:1px dotted black; width:100%;">@Model.SearchString.</div>
        <div class="row">Your search returned: @Model.Results.Count.ToString() results.</div>*@

        @Html.Partial("_SearchData.cshtml", Model)




        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        PubMed ID
                    </th>
                    <th style="width:55%">
                        Reference
                    </th>
                    <th class="justify-content-end" style="width:16px;">
                        <button class="btn btn-link btn-sort-link align-self-end" type="submit" value="Sort" style="max-width:16px;" formaction="SortByTitle">↑↓</button>
                    </th>

                    <th>
                        Year
                    </th>
                    <th style="width:10px;">
                        <button class="btn btn-link btn-sort-link" type="submit" value="Sort" formaction="SortByYear">↑↓</button>
                    </th>

                    <th>
                        RCT Score
                    </th>
                    <th>
                        <button class="btn btn-link btn-sort-link" type="submit" value="Sort" formaction="SortByScore">↑↓</button>
                    </th>
                    <th>
                        Human-study Score
                    </th>
                    <th>
                        <button class="btn btn-link btn-sort-link" type="submit" value="Sort" formaction="SortByHumanScore">↑↓</button>
                    </th>

                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        @foreach (ExternalID extId in item.ExternalIDs)
                        {

                            if (extId.Name == "pubmed")
                            {
                                 @extId.Value;
                            }

                        }
                    </td>
                    <td colspan="2">
                        @Html.Raw(item.AuthorTitleAndJournal)
                        <a onclick="ShowHideAbstract('@Html.Raw(item.CitationId)')" id="@Html.Raw("ShowAbstractBt-"+ item.CitationId)" style="font-size:0.72em; padding:1px; cursor: pointer;color: #007bff;">[Show Abstract]</a>
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Abstract)
                    </td>*@
                    
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.PublicationYear)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Arrowsmith_RCT_Score)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Arrowsmith_Human_Score)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
                </tr>

                @*<tr id="demo" class="collapse">*@
                <tr id="@Html.Raw("itemDetailRow-"+ item.CitationId)" style="display:none;">
                    <td >Abstract:</td>
                    <td colspan="9" class="bg-light-blue">
                        @item.Abstract
                        <a class="btn" onclick="ShowHideAbstract('@Html.Raw(item.CitationId)')" style="font-size:0.72em; padding:1px; cursor: pointer;color: #007bff;">[Hide Abstract]</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </form>
</div>